// Base styles
html {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

body {
    font-size: $font-size-base;
}

div:focus {
    outline: none;
}

button {
    font-family: $font-family-sans-serif;
}

input::-webkit-contacts-auto-fill-button {
    visibility: hidden;
    display: none !important;
    pointer-events: none;
    position: absolute;
    right: 0;
  }
  
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }

.list-style-arrow {
    list-style: none;
    padding-left: 30px;
    li {
        padding-left: 2em;
        background-image: url('../img/icon-arrow-right.svg');
        background-repeat: no-repeat;
        background-position: 0 center;
    }
}

.list-style-checkmark,
.list-style-plussign {
    list-style: none;
    li {
        padding-left: 2em;
        background-repeat: no-repeat;
        background-position: 0 center;
        @include media-breakpoint-down(sm) {
            padding-left: 1.5em;
            background-position: 0 .5em;
        }
    }
}

.list-style-checkmark li {
    background-image: url('../img/icon-checkmark.svg');
}

.list-style-plussign li {
    background-image: url('../img/icon-plussign.svg');
}

a:hover,
a:focus {
    color: $brand-primary;
    text-decoration: underline;
}

.brand-logo {
    max-width: 150px;
}

.control-code {
    font-size: 5em;
    font-weight: bold;
}

hr {
    border-color: $gray-mid;
    background-color: white;
    margin: 0;
    padding: 0;
}

.custom-select {
    width: 100%;
}

.form-control::placeholder {
    color: $text-hint;
}

.alert {
    border: solid 2px $gray-mid;
    border-radius: 8px;
    &-success {
        background-color: rgba(11, 250, 67, 0.08);
        border-color: $green;
    }
}

.btn-xl {
    @include button-size($padding-xl-vertical,
    $padding-xl-horizontal,
    $font-size-xl,
    $line-height-xl,
    $btn-border-radius-xl);
    @include media-breakpoint-down(sm) {
        padding: $padding-xl-vertical;
        width: 100%;
    }
}

.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

// Modal animations
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.animated.infinite {
    animation-iteration-count: infinite;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.fadeOut {
    animation-name: fadeOut;
}

// Modal styles
.modal-full {
    &-container {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    &-content {
        position: relative;
        display: flex;
        flex-direction: column;
        min-height: 16rem;
        padding: 2rem 1.5rem;
        background-color: $modal-content-bg;
        background-clip: padding-box;
        border: 0;
    }
}

[class*="close-button-"] {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 2rem;
    top: 2rem;
    z-index: 1050;
    width: 4rem;
    height: 4rem;
    background: $white;
    border-radius: 2rem;
    box-shadow: $shadow-md;
    transition: all .25s ease-out;
    &:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
}
