// Base styles
html {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

body {
    font-size: $font-size-base;
}

div:focus {
    outline: none;
}

button {
    font-family: $font-family-sans-serif;
}

input::-webkit-contacts-auto-fill-button {
    visibility: hidden;
    display: none !important;
    pointer-events: none;
    position: absolute;
    right: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.list-style-arrow {
    list-style: none;
    padding-left: 30px;
    li {
        padding-left: 2em;
        background-image: url('../img/icon-arrow-right.svg');
        background-repeat: no-repeat;
        background-position: 0 .25em;
    }
}

.list-style-checkmark,
.list-style-plussign {
    list-style: none;
    padding-left: 0;
    li {
        padding-left: 2em;
        margin-bottom: 1em;
        background-repeat: no-repeat;
        background-position: 0 .25em;
        @include media-breakpoint-down(sm) {
            padding-left: 1.5em;
            background-position: 0 .5em;
        }
        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

.list-style-checkmark li {
    background-image: url('../img/icon-checkmark.svg');
}

.list-style-plussign li {
    background-image: url('../img/icon-plussign.svg');
}

a:hover,
a:focus {
    color: $brand-primary;
    text-decoration: underline;
}

.control-code {
    font-size: 5em;
    font-weight: bold;
}

hr {
    border-color: $gray-mid;
    background-color: white;
    margin: 0;
    padding: 0;
}

.custom-select {
    width: 100%;
}

.form-control::placeholder {
    color: $text-hint;
}

.alert {
    border: solid 2px $gray-mid;
    border-radius: 8px;
    &-success {
        background-color: rgba(11, 250, 67, 0.08);
        border-color: $green;
    }
}

.btn-xl {
    @include button-size($padding-xl-vertical,
    $padding-xl-horizontal,
    $font-size-xl,
    $line-height-xl,
    $btn-border-radius-xl);
    @include media-breakpoint-down(sm) {
        padding: $padding-xl-vertical;
        width: 100%;
    }
}

.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}
