// Base styles
html {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

body {
    min-width: 320px;
    font-size: $font-size-base;
}

div:focus {
    outline: none;
}

button {
    font-family: $font-family-sans-serif;
}

input::-webkit-contacts-auto-fill-button {
    visibility: hidden;
    display: none !important;
    pointer-events: none;
    position: absolute;
    right: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
}

.list-style-checkmark,
.list-style-cross,
.list-style-plussign,
.list-style-arrow {
    list-style: none;
    padding-left: 0;
    li {
        padding-left: 2rem;
        margin-bottom: 1rem;
        background-repeat: no-repeat;
        background-position: 0 .25rem;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

.list-style-checkmark li {
    background-image: url('../img/icon-checkmark.svg');
}

.list-style-cross li {
    background-image: url('../img/icon-close-red.svg');
}

.list-style-plussign li {
    background-image: url('../img/icon-plussign.svg');
}

.list-style-arrow li {
    background-image: url('../img/icon-arrow-right.svg');
}

.control-code {
    font-size: 5em;
    font-weight: bold;
}

hr {
    border-color: $gray-mid;
    background-color: white;
    margin: 0;
    padding: 0;
}

.custom-select {
    width: 100%;
}

.form-control::placeholder {
    color: $text-hint;
}

.alert {
    border: solid 2px $gray-mid;
    border-radius: 8px;
    &-success {
        background-color: rgba(11, 250, 67, 0.08);
        border-color: $green;
    }
}

.btn-xl {
    @include button-size($padding-xl-vertical,
    $padding-xl-horizontal,
    $font-size-xl,
    $line-height-sm,
    $btn-border-radius-xl);
    @include media-breakpoint-down(sm) {
        padding: $padding-xl-vertical;
        width: 100%;
    }
}

.btn-orange {
    color: white;
    background-color: $orange;
    border-color: $orange;

    &:hover,
    &:focus,
    &:active {
        color: white;
        background-color: #e1470a;
        border-color: #e1470a;
    }
}

.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.btn-plus,
.btn-plus:active,
.btn-plus:focus,
.btn-plus:not([disabled]):not(.disabled):active,
.btn-plus:not([disabled]):not(.disabled).active {
    padding: 0 30px 0 0;
    background: url(../img/icon-plussign.svg) no-repeat right center;
}

// Border radius
.br-0 { border-radius: $border-radius-0; }
.br-1 { border-radius: $border-radius-1; }
.br-2 { border-radius: $border-radius-2; }
.br-3 { border-radius: $border-radius-3; }
.br-4 { border-radius: $border-radius-4; }
.br-5 { border-radius: $border-radius-5; }

// Borders

.border-dark-1 { border-color: rgba(0,0,0,0.08); }
.border-dark-2 { border-color: rgba(0,0,0,0.12); }
.border-dark-3 { border-color: rgba(0,0,0,0.16); }