.page-template-page_contact {
    background: linear-gradient(to bottom, $body-gradient-start 130px, $body-gradient-stop 560px, $body-gradient-start 560px);
}

.page-template-page_fund {
    background: linear-gradient(to bottom, $body-gradient-start 130px, $body-gradient-stop 530px, $body-gradient-start 530px);
}

.bg-alt {
    background-color: $body-color-alt;
}
