.contacts-block {
    padding: 100px 0;

    &__item {
        text-align: center;
    }

    &__image {
        border-radius: 50%;
        @include square(160px);
    }

    &__title {
        margin-top: 42px;
        margin-bottom: 18px;
    }

    &__row {
        margin-bottom: 10px;
    }
}

.text-box {
    background: #fff;
    padding: 30px;
    box-shadow: 0 0 16px 0 rgba(0,0,0,0.12);
    border-radius: 4px;
    margin-bottom: 20px;
    // color: #373A3C;

    &__title {
        font-family: $font-family-sans-serif;
        line-height: 1;
        margin-top: 0;
        margin-bottom: 40px;
    }

    ul {
        padding-left: 1.2em;
        line-height: 1.5;

        li {
            margin-bottom: 1em;
        }
    }

    p {
        line-height: 1.5;
        margin-bottom: 1.5em;
    }
}

.statistics-box {
    text-align: center;
    color: $navy-blue;
    font-size: 1.25em;
    padding: 100px 0;
    margin-bottom: -2.25em;

    &__row {
        line-height: 1;
        margin-bottom: 1.8em;
    }

    &__number {
        background-image: linear-gradient($yellow, $yellow);
        background-position: 0 0.7em;
        background-repeat: repeat-x;
        background-size: 8px 8px;
        padding: 0 2px;
    }
}

.media {
    // color: #303030;

    .media-right {
        padding-left: 6em;
    }

    .media-left {
        padding-right: 6em;
    }

    .media-body {
        .media-heading {
            margin-bottom: 1em;
        }

        ul {
            padding-left: 1.2em;
            line-height: 1.5;

            li {
                margin-bottom: 1em;
            }
        }
    }
}
