.contacts-block {
    &__item {
        text-align: center;

        @include mobile {
            margin-bottom: 30px;
        }
    }

    &__image {
        border-radius: 50%;
        @include square(160px);
    }

    &__title {
        margin-bottom: 18px;

        @include not-mobile {
            margin-top: 42px;
        }
    }

    &__row {
        margin-bottom: 10px;
    }
}

.text-boxes {
    @include mobile {
        [class^="col-"] {
            padding: 0;
        }
    }
}

.text-box {
    background: #fff;
    padding: 30px 30px 10px;
    box-shadow: 0 0 16px 0 rgba(0,0,0,0.12);
    border-radius: 4px;
    // color: #373A3C;

    @include mobile {
        padding: 0;
        padding-bottom: 10px;
        margin-bottom: 24px;
    }

    &--rounder {
        border-radius: 8px;

        @include mobile {
            border-radius: 0;
        }
    }

    &__title {
        font-family: $font-family-sans-serif;
        line-height: 1;
        margin-top: 0;
        margin-bottom: 40px;

        &--border-lightblue,
        &--border-blue {
            padding-bottom: 1em;
            margin-bottom: 30px;
            border-bottom-width: 4px;
            border-bottom-style: solid;
        }

        &--border-blue {
            border-bottom-color: $blue;
        }

        &--border-lightblue {
            border-bottom-color: $blue-light;
        }

        @include mobile {
            padding: 24px 30px;
            text-align: center;
            font-size: 1.25em;
            line-height: 1.2;
            margin-bottom: 0;

            &--border-lightblue,
            &--border-blue {
                border: none;
                color: #fff;
                margin-bottom: 40px;
            }

            &--border-blue {
                background-color: $blue;
            }

            &--border-lightblue {
                background-color: $blue-light;
            }

        }
    }

    &__content {
        @include mobile {
            padding-right: 10px;
            padding-left: 30px;
        }
    }

    ul {
        line-height: 1.5;
        padding-left: 1.2em;

        &[class] {
            padding-left: 0;
            margin-bottom: 1.5em;
        }

        li {
            margin-bottom: 1em;
        }
    }

    p {
        line-height: 1.5;
        margin-bottom: 1.5em;
    }
}

.text-rows-box {
    text-align: center;
    color: $navy-blue;
    font-size: 1.25em;
    padding: 100px 0;
    margin-bottom: -2.25em;

    @include mobile {
        padding: 40px 0;
    }

    &__row {
        line-height: 1;
        margin-bottom: 1.8em;
    }
}

.columns-block {
    .list-unstyled {
        line-height: 2;
    }

    .list-style-arrow {
        line-height: 2;
    }
}

.comparison-component .list-unstyled {
    margin-bottom: 50px;
}

.single-quote-box {
    padding: 110px 0;
    margin-bottom: -2em;
    @extend .clearfix;

    &__media {
        text-align: center;
        font-style: italic;
    }

    &__image {
        margin-bottom: 10px;
        border-radius: 50%;
        @include square(192px);
    }

    blockquote {
        font-family: $font-family-serif;
        font-size: 1.25em;
        line-height: 1.6;
        border: none;
        padding: 0;
        margin: .6em 0 1.6em;
    }
}

.quotes-box {
    display: flex;
    flex-wrap: wrap;
    padding: 110px 0;
    margin-bottom: -2em;
    @extend .clearfix;

    @include mobile {
        padding: 40px 0;
    }

    &__item {
        display: flex;
        flex-flow: row wrap;
        margin-bottom: 2em;
    }

    &__content {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__text {
        flex: 1 0 auto;
        font-family: $font-family-serif;
        font-size: 1.25em;
        margin-bottom: 1em;
    }

    &__author {
        &__image {
            border-radius: 50%;
            @include square(40px);
            margin-right: 1em;

            @include mobile {
                float: left;
            }
        }

        &__info {
            font-size: 18px;
        }
    }
}

.media-box {
    display: flex;

    &__media {
        width: 25%;
        min-width: 100px;

        @include mobile {
            padding: 0 10px;
        }
    }

    &__body {
        width: 75%;

        @include not-mobile {
            padding-right: 2em;
        }
    }

    &__image {
        border-radius: 50%;
        @include square(96px);

        @include mobile {
            @include size(100%, auto);
        }
    }

    &__title {
        margin-top: 0;
    }
}

.media-box-list {
    display: flex;
    flex-wrap: wrap;

    @include not-mobile {
        .media-box {
            width: 50%;
        }
    }

    &.media-box-slider {
        display: block;

        > ul > li {
            display: flex;
            flex-wrap: wrap;
        }
    }
}

.unslider-arrow {
    display: none;
}

.unslider-nav {
    padding: 30px 0;

    ol li {
        background: rgba(38,41,44,0.32);
        border: none;
        height: 1em;
        width: 1em;
        border-radius: 1em;
        margin: 0 0.5em;

        &.unslider-active {
            background: #0081EE;
        }
    }
}


#hs-beacon div iframe:first-child {
    display: none;
}

.beacon-toggle {
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: none;
    font-family: $font-family-serif;
    font-weight: bold;
    color: #fff;
    text-align: center;
    font-size: 1.125em;
    line-height: 1;
    border-radius: 64px;
    background-color: $orange;
    padding: 24px 34px;
    white-space: nowrap;
    overflow: hidden;
    height: 64px;
    width: 230px;
    transition: all .4s ease;
    box-shadow: 1px 1px 0 0 rgba(0,0,0,0.2);

    &:hover,
    &:focus {
        color: #fff;
    }

    &__icon {
        background: $navy-blue;
        position: absolute;
        left: 50%;
        margin-left: -10px;
        bottom: 48%;
        width: 18px;
        height: 2px;
        transform: rotate(-45deg);
        transition: opacity .2s ease;
        backface-visibility: hidden;
        opacity: 0;

        &::before {
            content: ' ';
            background: inherit;
            position: absolute;
            left: 0;
            top: 0;
            width: 18px;
            height: 2px;
            transform: rotate(90deg);
            transition: opacity .2s ease;
            backface-visibility: hidden;
            opacity: 0;
        }
    }

    &--open {
        background-color: #fff;
        width: 64px;
        height: 64px;

        .beacon-toggle__icon {
            opacity: 1;
            transition: opacity .1s;
            transition-delay: .3s;

            &::before {
                opacity: 1;
                transition: opacity .1s;
                transition-delay: .3s;
            }
        }

        .beacon-toggle__text {
            visibility: hidden;
        }
    }
}

.recent-articles {
    margin-bottom: 60px;

    &__heading {
        color: $brand-primary;
        text-transform: uppercase;
        margin-bottom: 1em;
    }

    &__list {
        list-style: none;
        padding: 0;

        li {
            font-size: 1.25em;
            border-top: 1px solid $border-gray;
            padding: 1.5em 0;

            &:first-child {
                border-top: none;
                padding-top: 0;
            }

            a {
                color: $navy-blue;
                font-weight: 500;
            }
        }
    }
}

.submenu {
    padding-top: 40px;
    margin-bottom: 40px;
    box-shadow: inset 0 -1px 0 0 $border-gray;

    &__list {
        list-style: none;
        padding: 0;
        display: inline-block;
    }

    &__item {
        display: inline-block;
        font-size: 1.25em;
        line-height: 1.6;

        a {
            color: $navy-blue;
            padding: 15px 25px;
        }

        &--current a {
            font-weight: bold;
            box-shadow: inset 0 -4px 0 0 $brand-primary;
        }
    }
}

.post-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;

    &__item {
        width: 50%;
        margin-bottom: 48px;

        &:nth-child(odd) {
            padding-left: 15px;
        }

        &:nth-child(even) {
            padding-right: 15px;
        }

        &__image {
            overflow: hidden;
            max-height: 350px;
            border-radius: 4px;

            a {
                display: block;
            }

            img {
                width: 100%;
            }
        }

        &__title {
            margin-bottom: 5px;

            a {
                color: $heading-primary;
            }
        }

        &__meta {
            margin-bottom: 1em;
            font-size: .875em;
            @extend .text-muted;
        }

        &__author {
            margin-right: 5px;
        }

        &#{&}--wide {
            width: 100%;
            padding: 0;
        }

        @include mobile {
            &#{&} {
                width: 100%;
                padding: 0;
            }
        }
    }

    &--paged {
        .post-list__item:nth-child(even) {
            padding-left: 15px;
        }
        .post-list__item:nth-child(odd) {
            padding-right: 15px;
        }
    }
}

.pagination {
    @extend .clearfix;
    display: block;
    margin-top: $line-height-computed / 2;
    margin-bottom: $line-height-computed * 4;
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 500;

    &__previous,
    &__next {
        display: inline-block;
        margin-bottom: 1em;
        background-repeat: no-repeat;
    }

    &__previous {
        float: left;
        padding-left: 1.5em;
        background-image: url('../img/icon-arrow-left.svg');
        background-position: left center;
    }

    &__next {
        float: right;
        padding-right: 1.5em;
        background-image: url('../img/icon-arrow-right.svg');
        background-position: right center;
    }
}

.cta-widget {
    border-radius: 4px;
    padding: 0 1.5em;
    margin-bottom: 1.5em;

    &--primary {
        background-color: $widget-primary-bg-color;
        border: 2px solid $brand-primary;
    }

    &--secondary {
        border: 1px solid $border-gray;
    }

    &__title {
        text-align: center;
        font-size: 1.5em;
        margin-bottom: $line-height-computed;

        &--link {
            display: inline-block;
            text-align: left;
            font-weight: 500;
            font-family: $font-family-sans-serif;
            padding-right: 1.5em;
            background-image: url('../img/icon-arrow-right.svg');
            background-position: right center;
            background-repeat: no-repeat;
        }
    }

    .btn {
        display: block;
        margin-bottom: 30px;
    }

    p {
        margin-bottom: 1.5em;
    }
}

.tabs {
    padding-top: 130px;

    @include mobile {
        padding-top: 30px;
    }


    .nav-tabs {
        text-align: center;
        font-size: 1.25em;
        border-bottom: none;
        margin-top: 100px;

        @include mobile {
            margin-top: 40px;
        }

        > li {
            float: none;
            margin: 0;
            background: rgba(5,147,252,0.08);

            @include not-mobile {
                display:inline-block;
                margin: 0 0.5em;
            }

            &.active {
                background: #fff;
                font-weight: bold;
            }

            a {
                color: $navy-blue;
                border: none;
                border-radius: 0;
                margin: 0;
                padding: 20px 40px;

                &:hover,
                &:focus {
                    color: $navy-blue;
                    border: none;
                    background: transparent;
                }
            }
        }
    }
}

.tab-content {
    @extend .clearfix;

    @include not-mobile {
        padding: 70px 0;
    }
}

.media {
    // color: #303030;

    .media-right {
        padding-left: 6em;
    }

    .media-left {
        padding-right: 6em;
    }

    @include mobile {
        .media-right,
        .media-left {
            text-align: center;
            display: block;
            padding: 0;
            margin-bottom: 20px;
        }

        .media-object {
            display: inline-block;
        }
    }

    .media-body {
        @include mobile {
            display: block;
        }

        .media-heading {
            margin-bottom: 1em;
        }

        ul {
            padding-left: 1.2em;
            line-height: 1.5;

            li {
                margin-bottom: 1em;
            }
        }
    }
}
