.contacts-block {
    &__item {
        text-align: center;
        @include media-breakpoint-down(sm) {
            margin-bottom: 30px;
        }
    }
    &__image {
        border-radius: 50%;
        @include size(160px);
    }
    &__title {
        margin-bottom: 18px;
        @include media-breakpoint-up(md) {
            margin-top: 42px;
        }
    }
    &__row {
        margin-bottom: 10px;
    }
}

.text-boxes {
    @include media-breakpoint-down(sm) {
        [class^="col-"] {
            padding: 0;
        }
    }
}

.text-box {
    background: #fff;
    padding: 30px 30px 10px;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.12);
    border-radius: 4px; // color: #373A3C;
    @include media-breakpoint-down(sm) {
        padding: 0;
        padding-bottom: 10px;
        margin-bottom: 24px;
    }
    &--rounder {
        border-radius: 8px;
        @include media-breakpoint-down(sm) {
            border-radius: 0;
        }
    }
    &__title {
        font-family: $font-family-sans-serif;
        line-height: 1;
        margin-top: 0;
        margin-bottom: 40px;
        &--border-lightblue,
        &--border-blue {
            padding-bottom: 1em;
            margin-bottom: 30px;
            border-bottom-width: 4px;
            border-bottom-style: solid;
        }
        &--border-blue {
            border-bottom-color: $blue;
        }
        &--border-lightblue {
            border-bottom-color: $blue-light;
        }
        @include media-breakpoint-down(sm) {
            padding: 24px 30px;
            text-align: center;
            font-size: 1.25em;
            line-height: 1.2;
            margin-bottom: 0;
            &--border-lightblue,
            &--border-blue {
                border: none;
                color: #fff;
                margin-bottom: 40px;
            }
            &--border-blue {
                background-color: $blue;
            }
            &--border-lightblue {
                background-color: $blue-light;
            }
        }
    }
    &__content {
        @include media-breakpoint-down(sm) {
            padding-right: 10px;
            padding-left: 30px;
        }
    }
    ul {
        line-height: 1.5;
        padding-left: 1.2em;
        &[class] {
            padding-left: 0;
            margin-bottom: 1.5em;
        }
        li {
            margin-bottom: 1em;
        }
    }
    p {
        line-height: 1.5;
        margin-bottom: 1.5em;
    }
}

.text-rows-box {
    text-align: center;
    color: $navy-blue;
    font-size: 1.25em;
    padding: 100px 0;
    margin-bottom: -2.25em;
    @include media-breakpoint-down(sm) {
        padding: 40px 0;
    }
    &__row {
        line-height: 1;
        margin-bottom: 1.8em;
        p {
            margin: 0;
            padding: 0;
            color: inherit;
            line-height: inherit;
        }
    }
}

.columns-block {
    .list-unstyled {
        line-height: 2;
    }
    .list-style-arrow {
        line-height: 2;
    }
}

.comparison-component .list-unstyled {
    margin-bottom: 50px;
}

.single-quote-box {
    padding: 110px 0;
    margin-bottom: -2em;
    @extend .clearfix;
    &__media {
        text-align: center;
        font-style: italic;
    }
    &__image {
        margin-bottom: 10px;
        border-radius: 50%;
        @include size(192px);
    }
    blockquote {
        font-family: $font-family-serif;
        font-size: 1.25em;
        line-height: 1.6;
        border: none;
        padding: 0;
        margin: .6em 0 1.6em;
    }
}

.testimonial {
    padding: 110px 0;
    @extend .clearfix;
    &__image {
        border-radius: 50%;
        @include size(160px);
    }
    &__text {
        position: relative;
        font-family: $font-family-serif;
        font-size: 1.25em;
        line-height: 1.6;
        border: none;
        padding: 0;
        margin: 0 0 .6em;
        &:after {
            content: url('../img/quotes.svg');
            display: block;
            position: absolute;
            top: 0;
            left: -36px;
        }
    }
    &__author {
        font-size: 1.125em;
    }
}

.quotes-box {
    display: flex;
    flex-wrap: wrap;
    padding: 110px 0;
    margin-bottom: -2em;
    @include media-breakpoint-down(sm) {
        padding: 40px 0;
    }
    &__item {
        display: flex;
        flex-flow: row wrap;
        margin-bottom: 2em;
    }
    &__content {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    &__text {
        flex: 1 0 auto;
        font-family: $font-family-serif;
        font-size: 1.25em;
        margin-bottom: 1em;
    }
    &__author {
        &__image {
            border-radius: 50%;
            @include size(40px);
            margin-right: 1em;
            @include media-breakpoint-down(sm) {
                float: left;
            }
        }
        &__info {
            font-size: 18px;
        }
    }
}

.media-box {
    display: flex;
    &__media {
        width: 25%;
        min-width: 100px;
        @include media-breakpoint-down(sm) {
            padding: 0 10px;
        }
    }
    &__body {
        width: 75%;
        @include media-breakpoint-up(md) {
            padding-right: 2em;
        }
    }
    &__image {
        border-radius: 50%;
        @include size(96px);
        @include media-breakpoint-down(sm) {
            @include size(100%,
            auto);
        }
    }
    &__title {
        margin-top: 0;
    }
}

.media-box-list {
    display: flex;
    flex-wrap: wrap;
    @include media-breakpoint-up(md) {
        .media-box {
            width: 50%;
        }
    }
    &.media-box-slider {
        display: block;
        >ul>li {
            display: flex;
            flex-wrap: wrap;
        }
    }
}

.unslider {
    position: relative;
    .unslider-arrow {
        position: absolute;
        display: block;
        height: 48px;
        width: 48px;
        font-size: 0;
        &.prev {
            top: calc(50% - 24px);
            left: 0;
            background: transparent url('../img/arrow-circle-left-blue.svg') no-repeat;
        }
        &.next {
            top: calc(50% - 24px);
            right: 0;
            background: transparent url('../img/arrow-circle-right-blue.svg') no-repeat;
        }
    }
    .unslider-nav {
        padding: 30px 0;
        ol li {
            background: rgba(38, 41, 44, 0.32);
            border: none;
            height: 1em;
            width: 1em;
            border-radius: 1em;
            margin: 0 0.5em;
            &.unslider-active {
                background: #0081EE;
            }
        }
    }
}

#hs-beacon div iframe:first-child {
    display: none;
}

.beacon-toggle {
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: none;
    font-family: $font-family-serif;
    font-weight: bold;
    color: #fff;
    text-align: center;
    font-size: 1.125em;
    line-height: 1;
    border-radius: 64px;
    background-color: $orange;
    padding: 24px 34px;
    white-space: nowrap;
    overflow: hidden;
    height: 64px;
    width: 230px;
    transition: all .4s ease;
    box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.2);
    &:hover,
    &:focus {
        color: #fff;
    }
    &__icon {
        background: $navy-blue;
        position: absolute;
        left: 50%;
        margin-left: -10px;
        bottom: 48%;
        width: 18px;
        height: 2px;
        transform: rotate(-45deg);
        transition: opacity .2s ease;
        backface-visibility: hidden;
        opacity: 0;
        &::before {
            content: ' ';
            background: inherit;
            position: absolute;
            left: 0;
            top: 0;
            width: 18px;
            height: 2px;
            transform: rotate(90deg);
            transition: opacity .2s ease;
            backface-visibility: hidden;
            opacity: 0;
        }
    }
    &--open {
        background-color: #fff;
        width: 64px;
        height: 64px;
        .beacon-toggle__icon {
            opacity: 1;
            transition: opacity .1s;
            transition-delay: .3s;
            &::before {
                opacity: 1;
                transition: opacity .1s;
                transition-delay: .3s;
            }
        }
        .beacon-toggle__text {
            visibility: hidden;
        }
        @include media-breakpoint-down(sm) {
            display: none;
        }
    }
}

.blog-beacon {
    position: fixed;
    right: 29px;
    bottom: 29px;
    display: none;
    text-align: center;
    font-size: 1.125em;
    line-height: 1;
    background: #FFFFFF;
    border-radius: 16px;
    padding: 8px;
    transition: all .4s ease;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.12);
    .btn {
        border-radius: 8px;
    }
    .btn-link {
        padding-right: 2em;
        background: url(../img/icon-arrow-right.svg) no-repeat 95%;
    }
}

.recent-articles {
    margin-bottom: 60px;
    &__heading {
        color: $brand-primary;
        text-transform: uppercase;
        margin-bottom: 1em;
    }
    &__list {
        list-style: none;
        padding: 0;
        li {
            font-size: 1.25em;
            border-top: 1px solid $border-gray;
            padding: 1.5em 0;
            &:first-child {
                border-top: none;
                padding-top: 0;
            }
            a {
                color: $navy-blue;
                font-weight: 500;
            }
        }
    }
}

.submenu {
    padding-top: 40px;
    margin-bottom: 40px;
    box-shadow: inset 0 -1px 0 0 $border-gray;
    &__list {
        list-style: none;
        padding: 0;
        display: inline-block;
    }
    &__item {
        display: inline-block;
        font-size: 1.25em;
        line-height: 1.6;
        a {
            color: $navy-blue;
            padding: 15px 25px;
        }
        &--current a {
            font-weight: bold;
            box-shadow: inset 0 -4px 0 0 $brand-primary;
        }
    }
    @include media-breakpoint-down(sm) {
        box-shadow: none;
        &__list {
            display: block;
        }
        &__item {
            display: block;
            a {
                display: block;
                margin: 0;
                padding: 20px;
                box-shadow: none;
                border: 2px solid $border-gray;
            }
        }
    }
}

.post-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    &__item {
        width: 50%;
        margin-bottom: 48px;
        &:nth-child(odd) {
            padding-left: 15px;
        }
        &:nth-child(even) {
            padding-right: 15px;
        }
        &__image {
            overflow: hidden;
            max-height: 350px;
            border-radius: 4px;
            a {
                display: block;
            }
            img {
                width: 100%;
            }
        }
        &__title {
            margin-bottom: 5px;
            a {
                color: $heading-primary;
            }
        }
        &__meta {
            margin-bottom: 1em;
            font-size: .875em;
            @extend .text-muted;
        }
        &__author {
            margin-right: 5px;
        }
        &#{&}--wide {
            width: 100%;
            padding: 0;
        }
        @include media-breakpoint-down(sm) {
            &#{&} {
                width: 100%;
                padding: 0;
            }
        }
    }
    &--paged {
        .post-list__item:nth-child(even) {
            padding-left: 15px;
        }
        .post-list__item:nth-child(odd) {
            padding-right: 15px;
        }
    }
}

.pagination {
    @extend .clearfix;
    display: block;
    margin-top: $spacer;
    margin-bottom: $spacer * 4;
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 500;
    &__previous,
    &__next {
        display: inline-block;
        margin-bottom: 1em;
        background-repeat: no-repeat;
    }
    &__previous {
        float: left;
        padding-left: 1.5em;
        background-image: url('../img/icon-arrow-left.svg');
        background-position: left center;
    }
    &__next {
        float: right;
        padding-right: 1.5em;
        background-image: url('../img/icon-arrow-right.svg');
        background-position: right center;
    }
}

.widget {
    margin-bottom: 1.5em;
}

.cta-widget {
    border-radius: 4px;
    padding: 0 1.5em;
    &--primary {
        background-color: $widget-primary-bg-color;
        border: 2px solid $brand-primary;
    }
    &--secondary {
        border: 1px solid $border-gray;
    }
    &__title {
        text-align: center;
        font-size: 1.5em;
        margin-bottom: $spacer;
        &--link {
            display: inline-block;
            text-align: left;
            font-weight: 500;
            font-family: $font-family-sans-serif;
            padding-right: 1.5em;
            background-image: url('../img/icon-arrow-right.svg');
            background-position: right center;
            background-repeat: no-repeat;
        }
    }
    .btn {
        display: block;
        margin-bottom: 30px;
        white-space: pre-line;
    }
    p {
        margin-bottom: 1.5em;
    }
}

.tabs {
    padding-top: 130px;
    @include media-breakpoint-down(sm) {
        padding-top: 30px;
    }
    .nav-tabs {
        text-align: center;
        font-size: 1.25em;
        border-bottom: none;
        margin-top: 100px;
        @include media-breakpoint-down(sm) {
            margin-top: 40px;
        }
        >li {
            float: none;
            margin: 0;
            background: rgba(5, 147, 252, 0.08);
            @include media-breakpoint-up(md) {
                display: inline-block;
                margin: 0 0.5em;
            }
            &.active {
                background: #fff;
                font-weight: bold;
            }
            a {
                color: $navy-blue;
                border: none;
                border-radius: 0;
                margin: 0;
                padding: 20px 40px;
                &:hover,
                &:focus {
                    color: $navy-blue;
                    border: none;
                    background: transparent;
                }
            }
        }
    }
}

.tab-content {
    @extend .clearfix;
    @include media-breakpoint-up(md) {
        padding: 70px 0;
    }
}

.media {
    // color: #303030;
    .media-right {
        padding-left: 6em;
    }
    .media-left {
        padding-right: 6em;
    }
    @include media-breakpoint-down(sm) {
        .media-right,
        .media-left {
            text-align: center;
            display: block;
            padding: 0;
            margin-bottom: 20px;
        }
        .media-object {
            display: inline-block;
        }
    }
    .media-body {
        @include media-breakpoint-down(sm) {
            display: block;
        }
        .media-heading {
            margin-bottom: 1em;
        }
        ul {
            padding-left: 1.2em;
            line-height: 1.5;
            li {
                margin-bottom: 1em;
            }
        }
    }
}

.carousel-control {
    color: rgba(0, 0, 0, .32);
}

.carousel-item {
    overflow: visible;
    margin: 2rem 0;
}

.quote {
    border-radius: 1rem;
}

.membercount {
    font-size: 3rem;
    color: $navy-blue;
    font-weight: $font-weight-medium;
}

.card.calculator {
    input {
        display: inline-block;
        font-size: $font-size-md;
        font-weight: $font-weight-bold;
        padding:.125em .5em;
        color: $blue;
        background: $white;
        //border-radius: 0;
        //border: none;
        //border-bottom: 2px solid $blue-light;
        line-height: 1;
    }
    input#age {
        max-width: 3rem;
    }
    input#netWage {
        max-width: 4.5rem;
    }
    .calculator__heading {
        font-size: $font-size-base;
        font-weight: $font-weight-normal;
        line-height: 2;
    }
    .calculator__comparison-row {
        &:first-of-type {
            margin-bottom: 1px;
        }
    }

    .savings {
        color: $blue;
    }
}

.qa-block {
    &--collapsed {
        .qa__question-wrapper:nth-child(n+6),
        .qa__question-wrapper:nth-child(n+6) + hr {
            display: none;
        }
    }

    &__expand {
        margin: 24px 0;
        display: block;
        text-align: center;
        text-transform: uppercase;
    }
}

.eeldus {
    width: 100%;
    box-shadow: 0 1px 0px 0 $gray-washed;
    padding: 1rem 0;
    &:first-of-type {
        padding-top: 0;
    }
}

// CTA BAR

.change-cta {
    border-top: 1px solid $gray-200;
}

// Read blog section

.read-blog {
    .card {
        transition: all 300ms ease;
        &:hover {
            box-shadow: $shadow-md;
            transform: translate(0, -8px);
            .card-body a {
                text-decoration: underline;
            }
        }
        .card-body a {
            font-weight: $font-weight-medium;
            color: $navy-blue;
        }
    }
}

// Modal animations
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.animated.infinite {
    animation-iteration-count: infinite;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.fadeOut {
    animation-name: fadeOut;
}

// Modal styles
.modal-full {
    &__container {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    &__content {
        position: relative;
        display: flex;
        flex-direction: column;
        min-height: 16rem;
        padding: 2rem 1.5rem;
        background-color: $modal-content-bg;
        background-clip: padding-box;
        border: 0;
    }
}

[class*="close-button-"] {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 2rem;
    top: 2rem;
    z-index: 1050;
    width: 4rem;
    height: 4rem;
    background: $white;
    border-radius: 2rem;
    box-shadow: $shadow-md;
    transition: all .25s ease-out;
    &:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
}

// Mutual page
.proposal {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: $shadow-md;
    background: $white;
    border-radius: $border-radius-md;
    padding: 2rem 1.5rem;
    margin-top: -6rem;
    @include media-breakpoint-up (md) {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    ul {
        padding-left: 0;
        margin-bottom: 2rem;
        @include media-breakpoint-up (md) {
            padding-left: 1rem;
            margin-bottom: 0;
        }
        li {
            padding-left: 2rem;
        }
    }
    &__body {
        @include media-breakpoint-up (md) {
            padding-right: 1.5rem;
        }
        h1 {
            font-size: $h1-font-size;
        }
    }
    &__cta {
        padding-top: 2rem;
        border-top: 1px solid $gray-300;
        @include media-breakpoint-up (md) {
            min-width: 35%;
            border-left: 1px solid $gray-300;
            border-top: 0;
            padding-left: 2.5rem;
            padding-right: 1rem;
            padding-top: 0;
        }
    }
}

.fund-info__item {
    border-bottom: 1px solid $gray-300;
    padding: .5rem 0;
}

//Founder stories
.founder-story {
    display: flex;
    flex-direction: column;
    border-radius: $border-radius-md;
    box-shadow: $shadow-md;
    @include media-breakpoint-up (lg) {
        flex-direction: row;
    }
    &__person {
        min-width: 45%;
        min-height: 320px;
        background-size: cover;
        background-position: 50% 25%;
        background-repeat: no-repeat;
        border-radius: $border-radius-md $border-radius-md 0 0;
        @include media-breakpoint-up (lg) {
            border-radius: $border-radius-md 0 0 $border-radius-md;
            background-position: 45% 50%;
        }

        &--indrek {
            background-image: url('../img/neivelt.jpg');
        }
        &--annika {
            background-image: url('../img/annika.jpg');
        }
        &--taavet-kristo {
            background-image: url('../img/taavetkristo.jpg');
        }
    }

    &__content {
        padding: 2rem;
        p:last-of-type {
            margin-bottom: 0;
        }
    }
}

//Inline signup override
.inline-signup {
    border: 1px solid $gray-200;

    .custom-control-indicator {
        display: none;
    }
}

//REASONS BLOCK
.mid-headline p {
    color: #0081ED;
    font-size: 32px;
    line-height: 44px;
}

// INLINE SIGNUP
.inline-signup__number {
    width: 32px;
    height: 32px;
    color: #0081EE;
    background-color: rgba(5, 147, 252, 0.24);
    border: none;
    display: inline-block;
    line-height: 32px;
    border-radius: 50%;
    text-align: center;
    z-index: 3;
    font-weight: bold;
    font-size: 20px;
    margin-right: 16px;
}

.inline-signup__title {
    font-weight: 500;
    font-size: 20px;
}

.inline-signup__content {
    margin-left: 48px;
}

.inline-signup__item {
    margin-bottom: 1em;
}

.goal-box {
    min-height: 211px;
    border: 2px solid rgba(0, 47, 99, 0.16);
    border-radius: 8px;
    margin: 16px 0;
    padding: 28px 24px;

    &--in-progress {
        background-color: #ebf7ff;
        border: 0;
    }

    &__title {
        border-radius: 4px;
        padding: 4px 8px;
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 23px;

        &--done {
            background-color: #00C90C;
        }
        &--partially-done {
            background-color: #3FCF7F;
        }
        &--in-progress {
            background-color: #00AEEA;
        }
    }

    &__content {
        margin-top: 23px;
    }
}

.security-block {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__icon {
        display: flex;
        flex-direction: column;
        width: 160px;
        height: 160px;
        margin-bottom: 48px;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-image: linear-gradient(180deg, rgba(5, 147, 252, .08), rgba(5, 147, 252, .08));
    }

    &__content {
        display: flex;
        flex-direction: column;
    }
}

.fund-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: $navy-blue;

    &__arrow-wrapper {
        display: flex;
        width: 48px;
        height: 48px;
        justify-content: center;
        align-items: center;
        margin-top: 16px;
    }

    &__arrow-container {
        display: flex;
        width: 40px;
        height: 40px;
        justify-content: center;
        align-items: center;
        border: 2px solid #0078ff;
        border-radius: 50%;
        transition: width 200ms ease, height 200ms ease;
    }

    &__arrow {
        transform: rotate(90deg);
    }

    &:hover, &:focus {
        text-decoration: none;
        color: $navy-blue;
        .fund-navigation__arrow-container {
            width: 48px;
            height: 48px;
        }
    }
}

.counter-block {
    color: $navy-blue;
    &__icon {
        display: flex;
        flex-direction: column;
        width: 128px;
        height: 128px;
        margin-bottom: 21px;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: white;
        font-weight: bold;
        font-size: 72px;
    }
    &__text {
        text-align: left;
    }
}

.vertical-align {
    display: flex;
    align-items: center;
}

.qa {
    &__question {
        font-size: 20px;
        color: $navy-blue;
        font-weight: 500;
        margin: 30px 0;
        padding: 0 30px 0 0;
        display: block;
        text-align: left;
        background: url("../img/icon-plussign.svg") no-repeat right 15px center;
        white-space: normal;
    }
}
