.page-container {
    h1, .h1,
    h2, .h2,
    h3, .h3 {
        text-align: center;
    }

    .page-title {
        margin: 60px 0 50px;
    }
}

.content {
    padding-top: 30px;

    h1,
    h2,
    h3 {
        color: $text-primary;
    }
}


.contacts-block {
    padding: 100px 0;

    &__item {
        text-align: center;
    }

    &__image {
        border-radius: 50%;
        @include square(160px);
    }

    &__title {
        margin-top: 42px;
        margin-bottom: 18px;
    }

    &__row {
        margin-bottom: 10px;
    }
}
