.page-title {
    margin: 0 0 5rem;
    text-align: center;

    &:not(:first-child) {
        margin-top: 5rem;
    }
}

.content,
#rich-text-block-component {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $text-navy;
        font-family: $font-family-serif;
    }
    h2 {
        font-size: $h3-font-size;
        line-height: $h3-line-height;
    }
    h3 {
        font-size: $h4-font-size;
        line-height: $h4-line-height;
    }
    h4, h5, h6 {
        font-size: $h5-font-size;
        line-height: $h5-line-height;
    }
}

.single-post {
    .page-title {
        margin: 2rem 0;
    }

    .post-header {
        margin-bottom: 3rem;
        @include media-breakpoint-up(md) {
            margin-bottom: 5rem;
        }
    }

    .post-title {
        margin-top: 3rem;
        @include media-breakpoint-up(md) {
            margin-top: 5rem;
        }
    }

    .post-meta {
        text-align: center;
        margin-bottom: 1rem;
        color: $navy-blue;

        &__author {
            font-weight: $font-weight-medium;
        }

        &__separator {
            margin: 0 .5em;
            color: $text-secondary;
        }
    }

    .post-image {
        max-width: 100%;
        margin-bottom: 3rem;
    }

    .post-social {
        text-align: center;
        color: $navy-blue;

        iframe {
            vertical-align: middle;
        }

        & > * {
            display: inline-block;
            margin-right: .25em;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    .content {
        margin-bottom: 5rem;
        padding-top: 0;
        font-size: $font-size-lg;
        line-height: $line-height-lg;

        .lead,
        > p:first-child {
            font-size: $font-size-xl;
            line-height: $line-height-lead;
        }

        img,
        figure {
            max-width: 100%;
            height: auto;
        }
        .wp-caption {
            margin-bottom: 1.5rem;
        }
        .wp-caption-text {
            display: block;
            margin-top: .75rem;
            font-size: $font-size-base;
            line-height: $line-height-base;
            color: $text-secondary;
        }

        blockquote {
            margin: 5rem 0;
            padding: 0;
            border: none;
            color: $blue;
            font-size: $font-size-blockquote;
            text-wrap: balance;
        }

        .alignright {
            float: right;
            margin: 0 0 2rem 2rem;
        }

        .alignleft {
            float: left;
            margin: 0 2rem 2rem 0;
        }

        .aligncenter {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.image-border {
    border: 1px solid $gray-border-2;
}

.image-circle {
    clip-path: circle(50% at center);
    max-width: 100%;
}

.column-lg-2 {
    @include media-breakpoint-up(lg) {
        column-count: 2;
        column-gap: 20px;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        ul,
        ol,
        dl,
        blockquote,
        table,
        pre {
            break-inside: avoid-column;
        }
    }
}

.avoid-column {
    break-inside: avoid-column;
}

.collapse-lg-block:not(.collapsing) {
    display: none;

    &.show {
        display: none;
        @include media-breakpoint-up(lg) {
            display: block;
        }
    }
}

.collapsed__shown {
    display: none;
}

.collapsed__hidden {
    display: block;
}

.collapsed {
    .collapsed__shown {
        display: block;
    }

    .collapsed__hidden {
        display: none;
    }
}
