.counter-block {
    margin-right: 1.5rem;

    &:last-child {
        margin: 0;
    }

    .counter-number {
        display: flex;
        flex-direction: row;
        justify-content: center;

        > div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 4rem;
            background: $navy-blue;
            color: #fff;
            font-size: 3rem;
            line-height: 5rem;
            font-weight: bold;
            font-family: $font-family-serif;
            font-variant-numeric: lining-nums;
            text-align: center;
        }

        > div:nth-child(1) {
            margin-right: .125rem;
            border-radius: .75rem .25rem .25rem .75rem;
        }

        > div:nth-child(2) {
            border-radius: .25rem .75rem .75rem .25rem;
        }
    }

    .counter-label {
        font-size: $font-size-lg;
        font-weight: 700;
        line-height: $line-height-xs;
        text-transform: uppercase;
        text-align: center;
        color: $navy-blue;
    }
}

@include media-breakpoint-down(sm) {
    .counter-block {
        margin-right: .5rem;

        &:last-child {
            margin: 0;
        }

        .counter-number > div {
            width: 3rem;
            font-size: 2.5rem;
            line-height: 4rem;
        }

        .counter-number > div:nth-child(1) {
            margin-right: .125rem;
            border-radius: .5rem .25rem .25rem .5rem;
        }

        .counter-number > div:nth-child(2) {
            border-radius: .25rem .5rem .5rem .25rem;
        }

        .counter-label {
            font-size: $font-size-lg;
        }
    }
}

.counter-small {
    .counter-block {
        margin-right: .5rem;

        &:last-child {
            margin: 0;
        }

        .counter-number > div {
            width: 3rem;
            font-size: 2.5rem;
            line-height: 4rem;
        }

        .counter-number > div:nth-child(1) {
            margin-right: .125rem;
            border-radius: .5rem .25rem .25rem .5rem;
        }

        .counter-number > div:nth-child(2) {
            border-radius: .25rem .5rem .5rem .25rem;
        }

        .counter-label {
            font-size: $font-size-md;
        }
    }
}