.counter-block {
    margin-right: 24px;

    &:last-child {
        margin: 0;
    }

    .counter-number {
        display: flex;
        flex-direction: row;
        justify-content: center;

        > div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 4.5rem;
            background: $navy-blue;
            color: #fff;
            font-size: 3.5rem;
            line-height: 6rem;
            font-weight: bold;
            font-family: $font-family-serif;
            font-variant-numeric: lining-nums;
            text-align: center;
        }

        > div:nth-child(1) {
            margin-right: 4px;
            border-radius: 16px 8px 8px 16px;
        }

        > div:nth-child(2) {
            border-radius: 8px 16px 16px 8px;
        }
    }

    .counter-label {
        font-size: $font-size-xl;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        color: $navy-blue;
    }
}

@include media-breakpoint-down(sm) {
    .counter-block {
        margin-right: 8px;

        &:last-child {
            margin: 0;
        }

        .counter-number > div {
            width: 3rem;
            font-size: 2.5rem;
            line-height: 4rem;
        }

        .counter-number > div:nth-child(1) {
            margin-right: 2px;
            border-radius: 8px 4px 4px 8px;
        }

        .counter-number > div:nth-child(2) {
            border-radius: 4px 8px 8px 4px;
        }

        .counter-label {
            font-size: $font-size-lg;
        }
    }
}

.counter-small {
    .counter-block {
        margin-right: 8px;

        &:last-child {
            margin: 0;
        }

        .counter-number > div {
            width: 3rem;
            font-size: 2.5rem;
            line-height: 4rem;
        }

        .counter-number > div:nth-child(1) {
            margin-right: 2px;
            border-radius: 8px 4px 4px 8px;
        }

        .counter-number > div:nth-child(2) {
            border-radius: 4px 8px 8px 4px;
        }

        .counter-label {
            font-size: $font-size-md;
        }
    }
}

