.custom-tooltip {
    position: absolute;
    z-index: 2; // container has z-index: 1
    top: calc(($form-range-thumb-height - 1rem) / 2);
    left: calc(50% - $form-range-thumb-width / 2 + 2px); // push rightwards by 2px because of the width correction below
    width: calc($form-range-thumb-width - 4px);
    transform: translate(0, 0);
    background: $blue;
    color: white;
    font-size: 1rem;
    font-weight: $font-weight-medium;
    font-variant-numeric: proportional-nums;
    line-height: 1;
    text-align: center;
    user-select: none;
    pointer-events: none;
}

.return-rate {

    position: relative; // needs to be there for .historic-return-rate
    z-index: 1;         // needs to be there for .historic-return-rate
    min-height: $form-range-thumb-height;

    .form-range {
        display: block;
        text-align: right;
        height: $form-range-thumb-height;

        &::-moz-range-thumb {
            background: $blue !important;
        }

        &::-webkit-slider-runnable-track {
            border: $input-btn-border-width solid $input-border-color;
            box-sizing: border-box;
        }

        &::-moz-range-track {
            border: $input-btn-border-width solid $input-border-color;
            box-sizing: border-box;
        }

        &::-ms-track {
            border: $input-btn-border-width solid $input-border-color;
            box-sizing: border-box;
        }
    }

    .historic-return-rate {
        display: block;
        padding-top: 2px;
        text-align: right;
    }

    .historic-return-rate::after {
        position: absolute;
        top: calc(($form-range-thumb-height - $form-range-track-height) / 2 + $form-range-track-height);
        left: calc(100% * 0.85 - 19px - 5px);
        z-index: -1; // puts it behind the slider
        content: "";
        background: no-repeat center/100% url("data:image/svg+xml,%3Csvg fill='none' height='13' viewBox='0 0 5 13' width='5' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath clip-rule='evenodd' d='m2.14645.146447c.19526-.1952625.51184-.1952625.7071 0l2 2.000003c.19527.19526.19527.51184 0 .7071-.19526.19527-.51184.19527-.7071 0l-1.14645-1.14644v10.79289c0 .2761-.22386.5-.5.5s-.5-.2239-.5-.5v-10.79289l-1.146447 1.14644c-.195262.19527-.511844.19527-.707106 0-.1952625-.19526-.1952625-.51184 0-.7071z' fill='%23212529' fill-rule='evenodd'/%3E%3C/svg%3E") ;
        width: 5px;
        height: 13px;
        overflow: hidden;
        margin-top: 1px;
        opacity: 0.5;
        user-select: none;
        pointer-events: none;
    }
}
