.footer {
    background-color: $footer-bg-color;
    padding: 70px 0;

    @include mobile {
        padding: 30px 0;
    }

    &__title {
        text-transform: uppercase;
        color: $heading-primary;
        font-size: 1em;
        margin-bottom: 24px;

        @include mobile {
            margin-bottom: 12px;
        }
    }

    &__column {
        @include mobile {
            margin-bottom: 24px;
        }
    }

    &__column__text {
        font-size: .875em;
        color: #373A3C;

        &__row {
            margin-bottom: 5px;
        }
    }

    &__text {
        margin-top: 70px;
        font-size: .875em;
        color: $text-secondary;

        @include mobile {
            margin-top: 0;
        }

        p {
            color: $text-secondary;
        }
    }

    &__language {
        display: block;
        font-weight: bold;
        color: $navy-blue;
        font-size: 1em;
        line-height: 1.1;
        margin-top: ($line-height-computed / 2);
        margin-bottom: ($line-height-computed / 2);
    }

    &__social {
        padding: 16px 0;

        a {
            margin-right: 12px;
        }
    }
}
