.footer {
    background-color: $footer-bg-color;

    &__title {
        margin: 0 0 .25em;
        color: $text-primary;
        font-size: $font-size-base;
        line-height: $line-height-base;

        &--light {
            text-transform: inherit;
            font-weight: 500;
        }
    }

    &__column + &__column {
        @include media-breakpoint-down(md) {
            margin-top: 1em;
        }
    }

    &__column__text {
        &__row {
            margin-bottom: .25em;
        }
    }

    &__text {
        color: $text-secondary;
    }

    &__subscribe {
        font-size: 0;

        .mc-field-group {
            display: inline-block;
            width: calc(100% - 60px);
            vertical-align: middle;

            @include media-breakpoint-only(md) {
                width: 220px;
            }
        }

        .email {
            display: inline-block;
            width: 100%;
            height: 38px;
            padding: 12px;
            font-size: $font-size-base;
            outline: none;
            border: 1px solid rgba(0, 47, 99, 0.16);
            border-radius: 4px 0 0 4px;

            &::placeholder {
                color: $text-tertiary;
            }
        }

        .button {
            background: $navy-blue no-repeat url('../img/icon-arrow-right-white.svg') center center;
            width: 48px;
            height: 38px;
            vertical-align: middle;
            border: none;
            outline: none;
            border-radius: 0 4px 4px 0;
        }
    }
}
