.sticky-header-visible {
    .header--sticky {
        display: block;
        background-color: #fff;
        top: 0;
        @include transition(top 0.4s ease, background-color 0.4s ease);
    }
}

.header {
    &--sticky {
        display: none;
        background-color: transparent;
        width: 100%;
        z-index: 1080;
        position: fixed;
        top: -$navbar-height;
        box-shadow: 0 0 8px rgba(0, 0, 0, .24);
        @include transition(top 0.1s ease);

        .navbar {
            min-height: 80px;
        }

        .navbar-brand {
            height: 80px;
            padding-top: 21px;
            padding-bottom: 21px;
        }

        .navbar-nav {
            margin-top: 0;
            padding: 4px 0;
        }

        .navbar-buttons {
            .nav-lang.hidden-xs,
            .nav-lang.visible-xs {
                display: none;
            }

            .navbar-btn {
                @include media-breakpoint-only(lg) {
                    margin-top: 14px;
                }
                @include media-breakpoint-only(xl) {
                    margin-top: 14px;
                }
            }
        }
    }

    .navbar {
        margin-bottom: 0;
        border: none;

        @include media-breakpoint-down(sm) {
            text-align: center;
            font-weight: bold;
            font-size: 20px;
            min-height: 72px;
        }
    }
}

.navbar-brand {
    @include media-breakpoint-only(md) {
        height: 96px;
        margin-top: 16px;
    }

    @include media-breakpoint-down(sm) {
        height: 72px;
        padding: 13px 15px;
    }

    & > img {
        height: 100%;
    }
}

.navbar-nav {
    padding: 0;

    @include media-breakpoint-only(lg) {
        margin-top: 20px;
        padding: 23px 0 0;
    }

    @include media-breakpoint-only(xl) {
        margin-top: 20px;
        padding: 23px 0 0;
    }

    @include media-breakpoint-down(sm) {
        padding: 0;

        > li > a {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: $navbar-default-link-color;
    font-weight: bold;

    &:before {
      content: " ";
      position: absolute;
      z-index: -1;
      left: 10px;
      right: 10px;
      bottom: 20px;
      border-bottom: 2px solid $brand-primary;
    }
}

.nav-lang {
    font-weight: normal;
}

.navbar-buttons {
    margin-top: 10px;
    text-align: right;

    .nav-lang.hidden-xs {
        font-size: 0.875em;
    }

    .navbar-btn {
        margin-top: 0;
        margin-left: 12px;
        margin-bottom: 0;
        padding: 4px 16px;
        font-size: 16px;

        @include media-breakpoint-down(sm) {
            display: block;
            font-size: 20px;
            margin: 16px 0;
            padding: 8px 16px;
        }
    }

    @include media-breakpoint-only(lg) {
        text-align: left;
        display: inline-block;

        .navbar-btn {
            margin-top: 32px;
        }

        .nav-lang.hidden-xs {
            display: block;
            text-align: right;
        }
    }

    @include media-breakpoint-only(xl) {
        text-align: left;
        display: inline-block;

        .navbar-btn {
            margin-top: 32px;
        }

        .nav-lang.hidden-xs {
            display: block;
            text-align: right;
        }
    }
}

.navbar-toggle {
    position: relative;
    @include size(24px, 18px);

    @include media-breakpoint-down(sm) {
        margin-bottom: 0;
    }

    .burger-icon {
        background: $navbar-toggle-color;
        position: absolute;
        left: 50%;
        margin-left: -12px;
        bottom: 40%;
        @include size(24px, 3px);
        transform: rotate(-45deg);
        @include transition(transform 0.5s ease);
        backface-visibility: hidden;

        &:before {
            content: ' ';
            background: inherit;
            position: absolute;
            left: 0;
            top: 0;
            @include size(24px, 3px);
            transform: rotate(90deg);
            @include transition(top 0.5s ease, transform 0.3s ease 0.3s);
            backface-visibility: hidden;
        }
        &:after {
            content: ' ';
            background: inherit;
            position: absolute;
            bottom: 0;
            opacity: 0;
            filter: alpha(opacity=0);
            @include transition(all 0.5s ease);
            backface-visibility: hidden;
        }
    }
}

.navbar-toggle.collapsed {
    .burger-icon {
        transform: rotate(0deg);
        @include transition(all 0.5s ease);
        backface-visibility: hidden;

        &:before {
            top: -8px;
            transform: rotate(0deg);
            @include transition(top 0.1s ease);
        }
        &:after {
            bottom: -8px;
            left: 0;
            opacity: 1;
            filter: alpha(opacity=1);
            @include size(24px, 3px);
            @include transition(bottom 0.1s ease);
        }
    }
}

.navbar-default .navbar-toggle {
    border: none;

    &:hover,
    &:focus {
        background-color: transparent;
    }
}
