.header {
    position: sticky;
    top: 0;
    z-index: 1102; // larger than Help Scout beacon and CookieYes button
    width: 100%;
    background: $white;
    box-shadow: 0 1px 0 0 rgba(0,0,0,0.04);

    @include media-breakpoint-down(md) {
        max-height: 100vh;
        overflow-y: scroll;
    }
}
// push header down to accommodate WP admin bar
.admin-bar {
    .header {
        top: 32px;

        @include media-breakpoint-down(md) {
            max-height: calc(100vh - 32px);
        }
    }
}

.navbar {
    padding: 0 1.25rem 0 0;
    z-index: 1; // fix dropdowns appearing behind page content in Safari 18.0

    @include media-breakpoint-down(md) {
        padding-right: 0;
    }

    .navbar-wrap {
        // calculations for a nicer optical alignment for the logo
        padding: calc(1rem - 2px) 1rem calc(1rem + 2px) 1.25rem;
        
        @include media-breakpoint-down(md) {
            position: sticky;
            top: 0;
            z-index: 1;
            width: 100%;
            background: linear-gradient(to bottom, #fff calc(100% - 0.75rem), rgba(255,255,255,0));
        }
    }

    .nav-langpicker.btn-outline-primary {
        display: none;
    }

    .navbar-toggler {
        position: relative;
        // same as logo height
        width: 46px;
        height: 46px;
        padding: 0;
        border: none;
        border-radius: $border-radius-2;
        background: transparent;
        outline: 0;
        cursor: pointer;
        transition: background-color 50ms ease-out;

        &:hover {
            background-color: $blue-bg-2;
        }

        .burger-icon {
            &,
            &:before,
            &:after {
                position: absolute;
                width: 24px;
                height: 2px;
                border-radius: 3px;
            }
            
            top: 50%;
            left: 50%;
            margin: -1px 0 0 -12px;
            background-color: transparent;
            transition: background-color 0.2s ease-out;

            &:before,
            &:after {
                content: "";
                left: 0;
                background-color: $navy-blue;
            }
            &:before {
                top: 0;
                transform: rotate(45deg);
                transition: top 0.2s ease-out, transform 0.2s ease-out;
            }
            &:after {
                bottom: 0;
                transform: rotate(-45deg);
                transition: bottom 0.2s ease-out, transform 0.2s ease-out;
            }
        }

        &.collapsed {
            .burger-icon {
                background: $navy-blue;

                &:before,
                &:after {
                    transform: rotate(0deg);
                }
                &:before {
                    top: -8px;
                }
                &:after {
                    bottom: -8px;
                }
            }
        }
    }
    
    .submenu-toggle {
        display: none;
    }

    .nav-item {
        position: relative;
        margin: 0;
        padding: 0;

        &:hover > .dropdown-menu {
            @include media-breakpoint-up(lg) {
                visibility: visible;
                transform: translateY(0);
                opacity: 1;
            }
        }

        &:first-child .nav-link {
            @include media-breakpoint-down(md) {
                border-top: 1px solid $gray-border-2;
            }
        }
    }

    .nav-link {
        color: $navbar-default-link-color;
        font-weight: $font-weight-medium;
        padding: 0.4375rem 0.75rem !important;

        &:hover {
            color: $text-blue;
        }

        @include media-breakpoint-down(md) {
            font-size: $font-size-lg;
            line-height: $line-height-xs;
            padding: 1rem 1.25rem !important;
            border-bottom: 1px solid $gray-border-2;

            &:hover {
                background-color: $blue-bg-2;
            }
        }
    }

    .navbar-nav > .active > a,
    .navbar-nav > .active > a:focus {

        @include media-breakpoint-up(lg) {
            color: $navbar-default-link-color;

            &::before {
                content: "";
                position: absolute;
                bottom: -2px;
                width: calc(100% - 24px);
                height: 2px;
                border-radius: 2px;
                background: $blue;
            }

            &:hover {
                color: $blue;
            }
        }
    }

    .navbar-brand {
        margin: 0;
        padding: 0;

        .brand-logo {
            width: auto;
            height: 46px;
        }
    }

    .nav-helpers {
        gap: .5rem;
        .btn {
            margin: 0;
        }
    }

    .dropdown > a::after {
        // hide dropdown carets on mobile
        display: none;

        @include media-breakpoint-up(lg) {
            display: inline-block;
        }
    }

    .dropdown-menu {
        display: block;
        margin: 0;
        border: 0;

        @include media-breakpoint-down(md) {
            border-bottom: 1px solid $gray-border-2;
            border-radius: 0;

            .dropdown-item {
                padding-left: 2rem !important;
                padding-right: 2rem !important;
            }
        }

        @include media-breakpoint-up(lg) {
            display: block;
            visibility: hidden;
            top: 2.375rem; // first level item height
            left: -4px; // align nav level1 and level2 texts
            transform: translateY(4px);
            padding: 0.5rem 0;
            border-radius: 0.5rem;
            background-color: $white;
            box-shadow: $dropdown-box-shadow;
            opacity: 0;
            transition: visibility 0.15s ease-out, opacity 0.15s ease-out, transform 0.15s ease-out;
        }

        .nav-item {
            margin: 0;
            padding: 0;

            .dropdown-item {
                padding: 0.5rem 1rem;
                color: $navy-blue;
    
                &:hover {
                    background-color: $blue-bg-2;
                }
            }

            &.active .dropdown-item {
                font-weight: $font-weight-medium;
                color: $text-blue;
            }
        }

        a.btn {
            display: block;
            margin: .5rem .5rem 0;
        }
    }

    @include media-breakpoint-up(lg) {
        .btn-primary {
            display: none;
        }
    }
    @include media-breakpoint-up(xl) {
        .btn-primary {
            display: block;
        }
    }
    @include media-breakpoint-down(md) {
        .navbar-nav {
            padding-bottom: 5rem;
        }
    }
}

[id] {
    scroll-margin-top: $navbar-height;
}