// Toggle needs to meet WCAG AA contrast requirements

.high-contrast-toggle {
    --bs-border-color: #{$text-tertiary};
    &, 
    & + .form-check-label {
        cursor: pointer;
    }
    & + .form-check-label {
        user-select: none;
        white-space: nowrap;
    }
}

.form-switch .form-check-input {
    --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23#{str-slice(inspect($text-tertiary), 2)}'/%3e%3c/svg%3e");
}
.form-switch .form-check-input:checked {
    --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23#{str-slice(inspect($white), 2)}'/%3e%3c/svg%3e");
}

// Styles for high contrast mode

.high-contrast {
    --bs-border-color: #{$text-tertiary};

    a {
        text-decoration-color: currentColor !important;
    }

    .header {
        box-shadow: 0 1px 0 0 rgba(0,0,0,0.16);
    }
    .navbar .dropdown-menu {
        @include media-breakpoint-up(lg) {
            box-shadow: $dropdown-box-shadow-hc;
        }
    }

    .btn-light {
        --bs-btn-border-color: #{$gray-border-3};
    }

    .form-switch .form-check-input {
        --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23#{str-slice(inspect($text-tertiary), 2)}'/%3e%3c/svg%3e");
    }
    .form-switch .form-check-input:checked {
        --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23#{str-slice(inspect($white), 2)}'/%3e%3c/svg%3e");
    }
}