#jobs-page {
    .toggle-parent {
        background: linear-gradient(transparent, transparent 50%, $blue-bg-2 50%, $blue-bg-2);
        background-size: 100% 200%;
        transition: background 0.2s ease-in-out;

        &.active .btn-cta {
            transition: visibility 0.1s, opacity 0.1s linear;
            opacity: 0;
            visibility: hidden;
        }
        &.active {
            background-position: 100% 100%;
        }
        .collapse-lg-none {
            display: none;
        }
        &.active .collapse-lg-none {
            @include media-breakpoint-down(lg) {
                display: block;

                .h1 {
                    margin-bottom: 2rem !important;
                }
            }
        }
    }

    .media-block__media {
        display: inline-block;

        img {
            display: block;
            max-width: 100%;
            height: auto;
        }

        .media-block__media__image {
            position: relative;
        }

        .media-block__media__icon {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 100px;
            height: 100px;
            padding-top: 30px;
            padding-left: 30px;
            transition: opacity 0.2s ease-in-out;
            opacity: 0.8;
            background: linear-gradient(to bottom right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));


            image {
                width: 50px;
                height: 50px;
            }
        }

        &:hover .media-block__media__icon {
            opacity: 1;
        }
    }
}
