#jobs-page {
    .toggle-parent {
        background: linear-gradient(transparent, transparent 50%, $blue-washed 50%, $blue-washed);
        background-size: 100% 200%;
        transition: background 0.2s ease-in-out;

        &.active {
            background-position: 100% 100%;
        }
    }
}
