.row-spacing {
    margin-top: 100px;
    margin-bottom: 100px;
}

.row-spacing-half {
    margin-top: 60px;
    margin-bottom: 60px;
}

.row-spacing-top {
    margin-top: 100px;
}

.row-spacing-top-half {
    margin-top: 60px;
}

.row-spacing-bottom {
    margin-bottom: 100px;
}

.row-spacing-bottom-half {
    margin-bottom: 60px;
}

.content-area,
.widget-area {
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.content-area {
    @include not-mobile {
        width: 66%;
        margin-right: 4%;
    }
}

.widget-area {
    @include not-mobile {
        width: 30%;
    }
}
