$section-spacing: 6rem;
$section-spacing-mobile: $section-spacing / 2;

$section-spacing-double: 12rem;
$section-spacing-double-mobile: $section-spacing-double / 2;

$section-spacing-half: 3rem;
$section-spacing-half-mobile: $section-spacing-half / 2;

.section-spacing {
    padding-top: $section-spacing;
    padding-bottom: $section-spacing;
}
.section-spacing-top {
    padding-top: $section-spacing;
}
.section-spacing-bottom {
    padding-bottom: $section-spacing;
}

.section-spacing-double {
    padding-top: $section-spacing-double;
    padding-bottom: $section-spacing-double;
}
.section-spacing-double-top {
    padding-top: $section-spacing-double;
}
.section-spacing-double-bottom {
    padding-bottom: $section-spacing-double;
}

.section-spacing-half {
    padding-top: $section-spacing-half;
    padding-bottom: $section-spacing-half;
}
.section-spacing-half-top {
    padding-top: $section-spacing-half;
}
.section-spacing-half-bottom {
    padding-bottom: $section-spacing-half;
}

@include media-breakpoint-down(sm) {
    .section-spacing {
        padding-top: $section-spacing-mobile;
        padding-bottom: $section-spacing-mobile;
    }
    .section-spacing-top {
        padding-top: $section-spacing-mobile;
    }
    .section-spacing-bottom {
        padding-bottom: $section-spacing-mobile;
    }

    .section-spacing-double {
        padding-top: $section-spacing-double-mobile;
        padding-bottom: $section-spacing-double-mobile;
    }
    .section-spacing-double-top {
        padding-top: $section-spacing-double-mobile;
    }
    .section-spacing-double-bottom {
        padding-bottom: $section-spacing-double-mobile;
    }

    .section-spacing-half {
        padding-top: $section-spacing-half-mobile;
        padding-bottom: $section-spacing-half-mobile;
    }
    .section-spacing-half-top {
        padding-top: $section-spacing-half-mobile;
    }
    .section-spacing-half-bottom {
        padding-bottom: $section-spacing-half-mobile;
    }
}