#customTooltip {
  position: absolute;
  left: calc(50% - 7px);
  letter-spacing: -1px;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  color: white;
  transform: translate(-12px, -6px);
  width: $custom-range-thumb-width;
  text-align: center;
  z-index: 1;
  padding-top: 14px;

  @include media-breakpoint-down(xs) { padding-top: 0; }

}



.second-pillar-calculator-range {
  z-index: 1;
  &:before {
    position: absolute;
    content: "";
    width: 1px;
    left: calc((100% - 30px) * 0.85);
    top: 13px;
    height: 26px;
    background: #868e96;
    z-index: -1;

    @include media-breakpoint-down(xs) { height: 13px; }
  }
}


.stock-returns-container {
  text-wrap: nowrap;

  /*@media (max-width: 1200px) { padding-bottom: 50px; }*/

}

.stock-returns-tick {
  position: absolute;
  bottom: -0.5rem;
  left: calc(50%);
  transform: translate(60.85px);
  width: 1px;
  height: 24px;
  z-index: 0;
  background-color: #909294;
}


.income-tax-savings {
  font-size: 14px;
}
