@import 'base';

.header .navbar {
    @include mobile {
        text-align: center;
        font-weight: bold;
        font-size: 20px;
    }
}

.navbar-brand > img {
    height: 100%;
}

.navbar-nav {
    padding: 23px 0;

    @include not-mobile {
        margin-top: 20px;

        .nav-lang {
            display: none;
        }
    }

    @include mobile {
        padding: 0;

        > li > a {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }

    .nav-lang {
        font-weight: normal;
    }
}

.navbar-buttons {
    @include not-mobile {
        margin-top: 20px;
        display: inline-block;
    }

    .navbar-btn {
        margin-left: 12px;
        padding: 4px 16px;
        font-size: 16px;

        @include mobile {
            display: block;
            font-size: 20px;
            margin: 16px 0;
            padding: 8px 16px;
        }
    }
}
