.page-template-page_contact {
    background: linear-gradient(
        to bottom,
        $body-gradient-start 130px,
        $body-gradient-stop 560px,
        $body-gradient-start 560px
    );
}

.page-template-page_fund {
    background: linear-gradient(
        to bottom,
        $body-gradient-start 130px,
        $body-gradient-stop 530px,
        $body-gradient-start 530px
    );
}

// Backgrounds

.bg-hero-main {
    background-image: linear-gradient(180deg, rgba(209, 244, 255, .88), rgba(209, 244, 255, .88)), url('../img/dog.jpg');
    background-position: 0px 0px, 50% 0px;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
    @include media-breakpoint-up (lg) {
        height: 100vh;
        max-height: 720px;
    }
    @include media-breakpoint-down (md) {
        background-image: linear-gradient(180deg, rgba(209, 244, 255, .88), rgba(209, 244, 255, .88)), url('../img/dog-p-1600.jpeg');
    }
    @include media-breakpoint-down (sm) {
        background-image: linear-gradient(180deg, rgba(209, 244, 255, .88), rgba(209, 244, 255, .88)), url('../img/dog-p-1080.jpeg');
    }
    @include media-breakpoint-only (xs) {
        background-image: linear-gradient(180deg, rgba(209, 244, 255, .88), rgba(209, 244, 255, .88)), url('../img/dog-p-500.jpeg');
    }
}

.bg-hero-mutual {
    background-image: linear-gradient(180deg, rgba(209, 244, 255, .88), rgba(209, 244, 255, .88)), url('../img/plikad_w_2670.jpg');
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
    @include media-breakpoint-down (lg) {
        background-image: linear-gradient(180deg, rgba(209, 244, 255, .88), rgba(209, 244, 255, .88)), url('../img/plikad_w_2356.jpg');
    }
    @include media-breakpoint-down (md) {
        background-image: linear-gradient(180deg, rgba(209, 244, 255, .88), rgba(209, 244, 255, .88)), url('../img/plikad_w_1842.jpg');
    }
    @include media-breakpoint-down (sm) {
        background-image: linear-gradient(180deg, rgba(209, 244, 255, .88), rgba(209, 244, 255, .88)), url('../img/plikad_w_1319.jpg');
    }
    @include media-breakpoint-only (xs) {
        background-image: linear-gradient(180deg, rgba(209, 244, 255, .88), rgba(209, 244, 255, .88)), url('../img/plikad_w_480.jpg');
    }
}

.bg-hero-stocks {
    background-image: linear-gradient(180deg, rgba(209, 244, 255, .88), rgba(209, 244, 255, .88)), url('../img/nyc_w_2670.jpg');
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
    @include media-breakpoint-down (lg) {
        background-image: linear-gradient(180deg, rgba(209, 244, 255, .88), rgba(209, 244, 255, .88)), url('../img/nyc_w_2261.jpg');
    }
    @include media-breakpoint-down (md) {
        background-image: linear-gradient(180deg, rgba(209, 244, 255, .88), rgba(209, 244, 255, .88)), url('../img/nyc_w_1813.jpg');
    }
    @include media-breakpoint-down (sm) {
        background-image: linear-gradient(180deg, rgba(209, 244, 255, .88), rgba(209, 244, 255, .88)), url('../img/nyc_w_1266.jpg');
    }
    @include media-breakpoint-only (xs) {
        background-image: linear-gradient(180deg, rgba(209, 244, 255, .88), rgba(209, 244, 255, .88)), url('../img/nyc_w_480.jpg');
    }
}

.bg-blueish-gray {
    background: $blueish-gray;
}

.bg-blue-washed {
    background: $blue-washed;
}

.bg-alt {
    background-color: $body-color-alt;
}

// Shadows
.shadow-sm {
    box-shadow: $shadow-sm;
}

.shadow-md {
    box-shadow: $shadow-md;
}
