// Document

body {
  font-size: $font-size-base;
  font-weight: $font-weight-normal;
  color: $text-primary;
}

// Links

a {
  text-decoration-color: color-mix(in srgb, currentColor $link-underline-opacity, transparent) !important;
  text-underline-offset: $link-underline-offset !important;
  text-decoration-thickness: $link-underline-thickness !important;
}

a:hover,
a:focus {
  text-decoration-color: currentColor !important;
}

a abbr[title] {
  cursor: inherit;
}

// Heading classes

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5em;
  color: $text-navy;
  font-family: $font-family-serif;
  font-weight: $font-weight-bold;
  line-height: $line-height-sm;
  text-wrap: balance;

  [style] {
    // ignore all copy-pasted formatting and custom inline styles
    font-weight: inherit !important;
    font-size: inherit !important;
  }
}

h1, .h1 {
  font-size: $h1-font-size;
  line-height: $h1-line-height;
}
h2, .h2 {
  font-size: $h2-font-size;
  line-height: $h2-line-height;
}
h3, .h3 {
  font-size: $h3-font-size;
  line-height: $h3-line-height;
}
h4, .h4 {
  font-size: $h4-font-size;
  line-height: $h4-line-height;
}
h5, .h5 {
  font-size: $h5-font-size;
  line-height: $h5-line-height;
}
h6, .h6 {
  font-size: $h6-font-size;
  line-height: $h6-line-height;
}

h1, .h1 {
  @include media-breakpoint-down(sm) {
      font-size: $h2-font-size;
  }
}

h3, h4, h5, h6,
.h3, .h4, .h5, .h6 {
  font-family: $font-family-sans-serif;
  color: $text-primary;
}

.page-title {
  line-height: 1.3;
  text-align: center;
  text-wrap: balance;
}

// Font sizes
.fs-1 {
  font-size: 2.5rem;
}
.fs-2 {
  font-size: 2rem;
}
.fs-3 {
  font-size: 1.75rem;
}
.fs-4 {
  font-size: 1.5rem;
}
.text-lg, // legacy class
.fs-5 {
  font-size: 1.25rem;
}
.fs-6 {
  font-size: 1rem;
}
.fs-base {
  font-size: $font-size-base;
}

// Line heights
.lh-1 {
  line-height: $line-height-1;
}
.lh-sm {
  line-height: $line-height-sm;
}
.lh-base {
  line-height: $line-height-base;
}
.lh-lg {
  line-height: $line-height-lg;
}

// Font weights
.font-weight-light {
  font-weight: $font-weight-light !important;
}
.text-normal, /* legacy class */
.fw-normal {
  font-weight: $font-weight-normal !important;
}
.text-medium, /* legacy class */
.fw-medium {
  font-weight: $font-weight-medium !important;
}
.text-bold, /* legacy class */
.fw-bold {
  font-weight: $font-weight-bold !important;
}

// Wrapping
.text-balance {
  text-wrap: balance;
}

/* =Margins (and margins only!)
========================================================= */

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    margin: 0 0 1.5rem;
}

.content,
#rich-text-block-component {
  h1, .h1,
  h2, .h2,
  h3, .h3,
  h4, .h4,
  h5, .h5,
  h6, .h6 {
      &:not(:first-child) {
        margin-top: 3rem;
      }
  }
}

h2 + h3,
h3 + h4 {
  margin-top: 2rem !important;
}

.page-title {
  margin-bottom: 5rem;

  &:not(:first-child) {
      margin-top: 5rem;
  }

  + .lead {
    margin-bottom: 5rem;

    + .lead {
      margin-top: -3.5rem;
      margin-bottom: 5rem;
    }
  }
}

p, ol, ul, dl, table {
  margin: 0 0 1.5em;
  /*
  &:is(:last-child) {
    margin-bottom: 0;
  }
  */
}

ol, ul {
  li {
    margin-bottom: .75em;
  }

  ol, ul {
    margin-top: .75em;
    margin-bottom: 0;
  }
}

hr {
  margin: 1.5rem 0;
}

.first-letter-capitalize::first-letter {
  text-transform: uppercase;
}

// Elements

.lead {
  font-size: $font-size-lg;
  line-height: $line-height-lg;
}

ol, ul {
  padding-left: 2em;
}

small,
.small {
  font-size: $font-size-small;
  line-height: $line-height-small-text;
  font-weight: inherit;
}

.text-highlight {
  background-image: linear-gradient($yellow, $yellow);
  background-position: 0 0.75em;
  background-repeat: repeat-x;
  background-size: 0.4em 0.4em;
  padding: 0 0.1em;
}

sub,
sup {
  font-size: $font-size-small;
}
.footnote {
  @extend .small;
  a {
    padding: 0 0.0625rem;
    text-decoration: none;

    &::before,
    &::after {
      opacity: 0.5;
    }
    &::before {
      content: "[";
      margin-right: 0.0625rem;
    }
    &::after {
      content: "]";
      margin-left: 0.0625rem;
    }

    &:hover::before,
    &:hover::after {
      opacity: 1;
    }
  }
}

// Text colors

.text-primary {
  color: $text-primary !important;
}
.text-muted,
.text-secondary {
  color: $text-secondary !important;
}
.text-tertiary {
  color: $text-tertiary !important;
}
.text-navy {
  color: $text-navy !important;
}
.text-navy-secondary {
  color: $text-navy-secondary !important;
}
.text-red {
  color: $text-red !important;
}
.text-green {
    color: $text-green !important;
}
.text-blue {
  color: $text-blue !important;
}

// Font family
.text-serif, // legacy class
.ff-serif {
  font-family: $font-family-serif;
}
.ff-system {
  font-family: $font-family-system;
}
.text-sans, // legacy class
.ff-sans-serif {
  font-family: $font-family-sans-serif;
}
