// Colors

$text-primary: #303030;
$text-secondary: rgba(48, 48, 48, 0.64);
$text-hint: rgba(48, 48, 48, 0.32);

$blue: #0081EE;
$navy-blue: #002F63;
$blue-light: #00AEEA;
$blue-washed: #edf7fe;
$orange: #FF4800;
$red: $orange;
$yellow: #FCE228;
$yellow-light: #FFEEBA;
$yellow-dark: #856404;
$green: #51c26c;
$white: #fff;
$black: #000;
$blueish-gray: rgb(240, 244, 247);
$gray-mid: #d8d8d8;
$gray-washed: rgba(0,0,0,.12);
$very-light-gray: rgba(48, 48, 48, 0.32);
$border-gray: #d6dee6;
$gray-tint: #f8f9fa;

$heading-primary: $navy-blue;

// New colors

/*
$white: #fff;
$navy-blue: #002F63;
$blue: #0081EE;
$bright-blue: #00AEEA;
$blue-light: $bright-blue;
$yellow: #FCE228;
$green: #51C26C;
$red: #FF4800;
$orange: $red;

$text-primary: #293036;
$text-secondary: #6D7276;
$text-tertiary: #909396;
$text-muted: $text-secondary;
$text-hint: $text-tertiary;
$text-green: #00AC00;
$text-red: $red;

$gray-bg-1: #FAFBFC;
$gray-bg-2: #F5F7F9;
$gray-border-1: #EBEEF3;
$gray-border-2: #E0E6EC;
$gray-border-3: #D6DEE6;

$blue-bg-1: #F3FAFE;
$blue-bg-2: #EEF7FD;
$blue-border-1: #DDEEFA;
$blue-border-2: #D3E6F4;
$blue-border-3: #CADEEE;

$blue-washed: $blue-bg-2;
$gray-tint: $gray-bg-2;
*/

// Shadows

$shadow-sm: 0 0 48px 0 rgba(0, 0, 0, .08);
$shadow-md: 0 0 64px 0 rgba(0, 0, 0, .12);

// Spacing

$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3),
  6: ($spacer * 5)
) !default;

// Brand definitions

$brand-primary: $blue !default;
$brand-success: $green !default;
$body-color: $text-primary !default;
$body-color-alt: $blue-washed !default;

$body-gradient-start: #fff !default;
$body-gradient-stop: $body-color-alt !default;
$card-border-width: 0;
$dropdown-box-shadow: 0 .5rem 2rem rgba(0,0,0,.16);

// Fonts
$font-family-sans-serif:  Roboto, "Segoe UI", "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-serif: 'Merriweather', Georgia, "Times New Roman", Times, serif !default;
$font-family-system: system-ui, sans-serif !default;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base: $font-family-sans-serif !default;
$font-size-base: 1rem !default;
$font-size-sm: .875rem !default;
$font-size-md: 1.25rem !default;
$font-size-xl: 1.5rem !default; // ~24px;
$font-size-longread: 1.175rem !default; // 19px
$font-size-blockquote: 2rem !default; // 32px
$font-size-small: $font-size-sm !default;
$font-weight-medium: 500 !default;
$lead-font-weight: normal !default;

$line-height-1:               1 !default;
$line-height-base:            1.5 !default;
$line-height-sm:              1.25 !default;

$h1-font-size: 2.5rem !default;
$h2-font-size: 2rem !default;
$h3-font-size: 1.75rem !default;
$h4-font-size: 1.5rem !default;
$h5-font-size: 1.25rem !default;
$h6-font-size: 1rem !default;

// Radius
$border-radius-0: 0 !default;
$border-radius-1: .25rem !default;
$border-radius-2: .5rem !default;
$border-radius-3: 1rem !default;
$border-radius-4: 1.5rem !default;
$border-radius-5: 2rem !default;

$border-radius-md: $border-radius-2;
$card-border-radius: $border-radius-md;

// Buttons
$btn-font-weight: 500 !default;
$btn-border-radius-xl: 8px !default;
$padding-xl-horizontal: 60px !default;
$padding-xl-vertical: 16px !default;

// Widgets
$widget-primary-bg-color: $blue-washed !default;

// Navbar
$navbar-height: 72px !default;
$navbar-padding-vertical: 25px !default;
$navbar-default-bg: transparent !default;
$navbar-default-border: transparent !default;
$navbar-default-link-color: $navy-blue !default;
$navbar-toggle-color: $navy-blue !default;
$navbar-default-brand-hover-color: $brand-primary !default;
$navbar-default-brand-hover-bg: transparent !default;

// Footer
$footer-bg-color: $blueish-gray !default;

// Carousel

$carousel-control-opacity:                    .32 !default;
$carousel-control-icon-width:                 48px !default;

$carousel-control-prev-icon-bg: url("data:image/svg+xml,%3Csvg fill='%23002F63' height='48' viewBox='0 0 24 24' width='48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.41 16.09l-4.58-4.59 4.58-4.59L14 5.5l-6 6 6 6z'/%3E%3Cpath d='M0-.5h24v24H0z' fill='none'/%3E%3C/svg%3E");
$carousel-control-next-icon-bg: url("data:image/svg+xml,%3Csvg fill='%23002F63' height='48' viewBox='0 0 24 24' width='48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z'/%3E%3Cpath d='M0-.25h24v24H0z' fill='none'/%3E%3C/svg%3E");
