// Layout

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1140px // override xxl
);

$container-padding-x: 2rem;
$grid-gutter-width: 2rem;

$spacer: 1rem !default;
$spacers: (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3),
    6: ($spacer * 6)
) !default;

// Links

$link-underline-opacity: 25% !default;
$link-underline-offset: 0.125em !default;
$link-underline-thickness: 0.0625em !default;

$icon-link-gap: 0.25em;
$icon-link-underline-offset: $link-underline-offset;

// Colors

:root {
    --gray-bg-1:     #FAFBFC;
    --gray-bg-2:     #F5F7F9;
    --gray-border-1: #E0E6EC;
    --gray-border-2: #D6DEE6;
    --gray-border-3: #C8D0D8;

    --blue-bg-1:     #F2FAFE;
    --blue-bg-2:     #EDF7FD;
    --blue-border-1: #D3E8F5;
    --blue-border-2: #C9E0EE;
    --blue-border-3: #BAD2E4;

    --bs-box-shadow-sm: 0 .125rem .25rem rgba(0,0,0,.075);

    --box-shadow-dropdown:
        0 0 0 1px rgba(0,0,0,0.04),
        0 1px 2px 0 rgba(0,0,0,0.04),
        0 4px 8px 0 rgba(0,0,0,0.04),
        0 12px 24px 0 rgba(0,0,0,0.08);

    --box-shadow-calculator:
        0 0 0 1px rgba(0,0,0,0.02),
        0 1px 3px 0 rgba(0,0,0,0.04),
        0 3px 9px 0 rgba(0,0,0,0.04),
        0 6px 18px 0 rgba(0,0,0,0.04);

    --box-shadow-hc: 0 0 0 1px #8A8D91;
}

$black:               #000;
$white:               #fff;

$navy-blue:           #002f63;
$bright-blue:         #00aeea;

$red:                 #DB2200;
$red-light:           #FF4614;
$green:               #008300;
$green-light:         #00A100;
$blue:                #006CE6;
$blue-light:          #00aeea;

$yellow:              #fce228;

$note-bg:             #fff6d9;
$note-border:         #faeed0;

$text-primary:        #293036;
$text-secondary:      #6B7074;
$text-tertiary:       #8A8D91;

$text-navy:           #002f63;
$text-navy-secondary: #5C738C;
$text-navy-tertiary:  #7D8FA3;

:root {
    --red: #{$red};
    --green: #{$green};
    --blue: #{$blue};
}
.table {
    --bs-table-border-color: var(--gray-border-2);
}

$body-color: $text-primary !default;

$text-green: $green;
$text-red:   $red;
$text-blue:  $blue;
$text-navy:  $navy-blue;

$gray-bg-1:      var(--gray-bg-1)     !default;
$gray-bg-2:      var(--gray-bg-2)     !default;
$gray-border-1:  var(--gray-border-1) !default;
$gray-border-2:  var(--gray-border-2) !default;
$gray-border-3:  var(--gray-border-3) !default;
$gray-border-hc: $text-tertiary;

$blue-bg-1:      var(--blue-bg-1)     !default;
$blue-bg-2:      var(--blue-bg-2)     !default;
$blue-border-1:  var(--blue-border-1) !default;
$blue-border-2:  var(--blue-border-2) !default;
$blue-border-3:  var(--blue-border-3) !default;
$blue-border-hc: $text-navy-tertiary;

$table-color: $text-primary;
$text-body-primary: $text-primary;
$text-body-secondary: $text-secondary;
$text-body-tertiary: $text-tertiary;

// Keep for backwards compatibility

$orange: $red;
$text-muted: $text-secondary;
$text-hint: $text-tertiary;
$blue-washed: $blue-bg-2;
$blueish-gray: $gray-bg-2;
$gray-washed: $gray-bg-2;
$gray-mid: $gray-border-3;
$body-color-alt: $blue-washed !default;

// Accordion

$accordion-button-color:            $blue;
$accordion-button-active-bg:        transparent;
$accordion-button-active-color:     $text-navy;

// Tooltips

$tooltip-max-width:                 24rem !default;
$tooltip-color:                     $text-primary !default;
$tooltip-bg:                        $white !default;
$tooltip-opacity:                   1 !default;
$tooltip-padding-y:                 .75rem !default;
$tooltip-padding-x:                 1rem !default;
$tooltip-margin:                    .5rem !default;

$tooltip-arrow-width:               0 !default;
$tooltip-arrow-height:              0 !default;
$tooltip-arrow-color:               $tooltip-bg !default;

// Borders

$border-radius-xxl: 1.5rem;

$border-color: $gray-border-3 !default;
$form-check-input-focus-border: $blue !default;
$input-focus-border-color: $blue !default;
//$table-border-color: $gray-border-2 !default;

$border-radius:     .375rem;
$border-radius-sm:  .25rem;
$border-radius-lg:  .5rem;
$border-radius-xl:  1rem;
$border-radius-xxl: 1.5rem;

$card-border-radius: $border-radius-lg;

// Buttons

$btn-padding-x:   1em !default;
$btn-font-weight: 450 !default;
$btn-white-space: nowrap !default;

// Form controls

$form-range-track-height: 16px !default;
$form-range-track-bg: #fff !default;
$form-range-thumb-width: 38px !default;
$form-range-thumb-border-radius: 100% !default;

// Widgets

$widget-primary-bg-color: $blue-washed !default;

// Navbar

$navbar-height: 78px !default;

// Carousel

$carousel-control-opacity: .32 !default;
$carousel-control-icon-width: 48px !default;

$carousel-control-prev-icon-bg: url("data:image/svg+xml,%3Csvg fill='%23002F63' height='48' viewBox='0 0 24 24' width='48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.41 16.09l-4.58-4.59 4.58-4.59L14 5.5l-6 6 6 6z'/%3E%3Cpath d='M0-.5h24v24H0z' fill='none'/%3E%3C/svg%3E");
$carousel-control-next-icon-bg: url("data:image/svg+xml,%3Csvg fill='%23002F63' height='48' viewBox='0 0 24 24' width='48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z'/%3E%3Cpath d='M0-.25h24v24H0z' fill='none'/%3E%3C/svg%3E");

// Footer

$footer-bg-color: $gray-bg-2 !default;

// Typography

$font-family-sans-serif:  Roboto, "Segoe UI", "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-serif: 'Merriweather', Georgia, "Times New Roman", Times, serif !default;
$font-family-system: system-ui, sans-serif !default;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base: $font-family-sans-serif !default;
$font-size-base: 1rem !default;
$font-size-sm: .875rem !default;
$font-size-md: 1rem !default;
$font-size-lg: 1.25rem !default;
$font-size-xl: 1.5rem !default; // 24px;
$font-size-xxl: 1.75rem !default; // 28px;
$font-size-longread: 1.175rem !default; // 19px
$font-size-blockquote: 2rem !default; // 32px
$font-size-faq: 1.125rem !default;
$font-size-small: $font-size-sm !default;
$font-weight-medium: 500 !default;
$lead-font-weight: normal !default;

$line-height-lead: 1.6666 !default;
$line-height-small-text: 1.4285 !default;

$line-height-xxl:  1.4285 !default;
$line-height-xl:   1.5 !default;
$line-height-lg:   1.6 !default;
$line-height-base: 1.5 !default;
$line-height-sm:   1.25 !default;
$line-height-xs:   1.2 !default;
$line-height-1:    1 !default;

$h1-font-size: 2.5rem !default;   // 40
$h2-font-size: 2rem !default;     // 32
$h3-font-size: 1.75rem !default;  // 28
$h4-font-size: 1.25rem !default;  // 24
$h5-font-size: 1.125rem !default; // 18
$h6-font-size: 1rem !default;     // 16

$h1-line-height: 1.2;
$h2-line-height: 1.25;
$h3-line-height: 1.2857;
$h4-line-height: 1.3333;
$h5-line-height: 1.3333;
$h6-line-height: 1.3333;