@import 'variables';
@import 'mixins';
@import 'media-queries';
@import 'bootstrap';
@import 'vendor/rangeslider';
@import 'vendor/unslider/unslider';
@import 'styles';
@import 'banks';
@import 'funds';
@import 'funds-calculator';
@import 'founders';

.proposal {
	@import 'proposal';
}

// TODO: extract to a separate file
//REASONS BLOCK
.mid-headline p {
    color: #0081ED;
    font-size: 32px;
    line-height: 44px;
}

// INLINE SIGNUP
.inline-signup__number {
    width: 32px;
    height: 32px;
    color: #0081EE;
    background-color: rgba(5, 147, 252, 0.24);
    border: none;
    display: inline-block;
    line-height: 32px;
    border-radius: 50%;
    text-align: center;
    z-index: 3;
    font-weight: bold;
    font-size: 20px;
    margin-right: 16px;
}

.inline-signup__title {
    font-weight: 500;
    font-size: 20px;
}

.inline-signup__content {
    margin-left: 48px;
}

.inline-signup__item {
    margin-bottom: 1em;
}

.goal-box {
    min-height: 211px;
    border: 2px solid rgba(0, 47, 99, 0.16);
    border-radius: 8px;
    margin: 16px 0;
    padding: 28px 24px;

    &--in-progress {
        background-color: #ebf7ff;
        border: 0;
    }

    &__title {
        border-radius: 4px;
        padding: 4px 8px;
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 23px;

        &--done {
            background-color: #00C90C;
        }
        &--partially-done {
            background-color: #3FCF7F;
        }
        &--in-progress {
            background-color: #00AEEA;
        }
    }

    &__content {
        margin-top: 23px;
    }
}

.color-intense {
    color: #0078ff;
}

.security-block {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__icon {
        display: flex;
        flex-direction: column;
        width: 160px;
        height: 160px;
        margin-bottom: 48px;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-image: linear-gradient(180deg, rgba(5, 147, 252, .08), rgba(5, 147, 252, .08));
    }

    &__content {
        display: flex;
        flex-direction: column;
    }
}

.fund-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: $navy-blue;

    &__arrow-wrapper {
        display: flex;
        width: 48px;
        height: 48px;
        justify-content: center;
        align-items: center;
        margin-top: 16px;
    }

    &__arrow-container {
        display: flex;
        width: 40px;
        height: 40px;
        justify-content: center;
        align-items: center;
        border: 2px solid #0078ff;
        border-radius: 50%;
        transition: width 200ms ease, height 200ms ease;
    }

    &__arrow {
        transform: rotate(90deg);
    }

    &:hover, &:focus {
        text-decoration: none;
        color: $navy-blue;
        .fund-navigation__arrow-container {
            width: 48px;
            height: 48px;
        }
    }
}

.counter-block {
    color: $navy-blue;
    &__icon {
        display: flex;
        flex-direction: column;
        width: 128px;
        height: 128px;
        margin-bottom: 21px;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: white;
        font-weight: bold;
        font-size: 72px;
    }
    &__text {
        text-align: left;
    }
}

.vertical-align {
    display: flex;
    align-items: center;
}

.qa {
    &__question {
        font-size: 20px;
        color: $navy-blue;
        font-weight: 500;
        margin: 30px 0;
        padding: 0 30px 0 0;
        display: block;
        text-align: left;
        background: url("../img/icon-plussign.svg") no-repeat right 15px center;
        white-space: normal;
    }
}

