log.htm
*.log
wc-logs
.htaccess
*.map
*.sublime-project
*.sublime-workspace
node_modules
src/wp-content/uploads/cache/
.DS_store
.idea/

!src
src/*
!src/wp-content/
src/wp-content/*
!src/wp-content/themes/
src/wp-content/themes/*
!src/wp-content/themes/tuleva
wordpress/
