version: 2.1
jobs:
    test:
        docker:
            - image: cimg/php:8.4-node
        steps:
            - checkout
            - restore_cache:
                  keys:
                      - composer-v1-{{ checksum "src/wp-content/themes/tuleva/composer.lock" }}
                      - composer-v1-
            - restore_cache:
                  keys:
                      - npm-v1-{{ checksum "src/wp-content/themes/tuleva/package-lock.json" }}
                      - npm-v1-
            - run:
                  name: Install PHP dependencies
                  working_directory: src/wp-content/themes/tuleva
                  command: composer install --no-interaction --prefer-dist
            - run:
                  name: Install npm dependencies
                  working_directory: src/wp-content/themes/tuleva
                  command: npm ci
            - save_cache:
                  key: composer-v1-{{ checksum "src/wp-content/themes/tuleva/composer.lock" }}
                  paths:
                      - src/wp-content/themes/tuleva/vendor
            - save_cache:
                  key: npm-v1-{{ checksum "src/wp-content/themes/tuleva/package-lock.json" }}
                  paths:
                      - src/wp-content/themes/tuleva/node_modules
            - run:
                  name: Run PHP tests
                  working_directory: src/wp-content/themes/tuleva
                  command: composer test
            - run:
                  name: Run JavaScript tests
                  working_directory: src/wp-content/themes/tuleva
                  command: npm test

    deploy:
        docker:
            - image: instrumentisto/rsync-ssh
        steps:
            - checkout
            - add_ssh_keys:
                  fingerprints:
                      - "SHA256:zcVjxTrI9vhVjRczUZxlxnmuWT0Gu2DFUFfsHNSwwCs"
            - run:
                  name: Sync files to production
                  command: |
                      set -e  # Ensures the CircleCI step fails if any command exits with a non-zero status
                      rsync -avz --checksum --delete \
                        --exclude='tests/' \
                        --exclude='vendor/' \
                        --exclude='node_modules/' \
                        --exclude='composer.json' \
                        --exclude='composer.lock' \
                        --exclude='package.json' \
                        --exclude='package-lock.json' \
                        --exclude='phpunit.xml' \
                        --exclude='*.spec.js' \
                        -e "ssh -o StrictHostKeyChecking=no" \
                        ./src/wp-content/themes/tuleva/ \
                        virt56861@ftp.tuleva.ee:/data03/virt56861/domeenid/www.tuleva.ee/htdocs/wp-content/themes/tuleva/

workflows:
    version: 2
    build_and_deploy:
        jobs:
            - test
            - deploy:
                  requires:
                      - test
                  filters:
                      branches:
                          only: master
