/**
 * Fonts customization
 */
/**
 * Colors
 */
/**
 * Brand definitions
 */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit; }
  h1 small,
  h1 .small, h2 small,
  h2 .small, h3 small,
  h3 .small, h4 small,
  h4 .small, h5 small,
  h5 .small, h6 small,
  h6 .small,
  .h1 small,
  .h1 .small, .h2 small,
  .h2 .small, .h3 small,
  .h3 .small, .h4 small,
  .h4 .small, .h5 small,
  .h5 .small, .h6 small,
  .h6 .small {
    font-weight: normal;
    line-height: 1;
    color: #777777; }

h1, .h1,
h2, .h2,
h3, .h3 {
  margin-top: 22px;
  margin-bottom: 11px; }
  h1 small,
  h1 .small, .h1 small,
  .h1 .small,
  h2 small,
  h2 .small, .h2 small,
  .h2 .small,
  h3 small,
  h3 .small, .h3 small,
  .h3 .small {
    font-size: 65%; }

h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 11px;
  margin-bottom: 11px; }
  h4 small,
  h4 .small, .h4 small,
  .h4 .small,
  h5 small,
  h5 .small, .h5 small,
  .h5 .small,
  h6 small,
  h6 .small, .h6 small,
  .h6 .small {
    font-size: 75%; }

h1, .h1 {
  font-size: 41px; }

h2, .h2 {
  font-size: 34px; }

h3, .h3 {
  font-size: 28px; }

h4, .h4 {
  font-size: 20px; }

h5, .h5 {
  font-size: 16px; }

h6, .h6 {
  font-size: 14px; }

p {
  margin: 0 0 11px; }

.lead {
  margin-bottom: 22px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.4; }
  @media (min-width: 768px) {
    .lead {
      font-size: 24px; } }

small,
.small {
  font-size: 87%; }

mark,
.mark {
  background-color: #fcf8e3;
  padding: .2em; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-justify {
  text-align: justify; }

.text-nowrap {
  white-space: nowrap; }

.text-lowercase {
  text-transform: lowercase; }

.text-uppercase, .initialism {
  text-transform: uppercase; }

.text-capitalize {
  text-transform: capitalize; }

.text-muted {
  color: #777777; }

.text-primary {
  color: #0081EE; }

a.text-primary:hover,
a.text-primary:focus {
  color: #0065bb; }

.text-success {
  color: #3c763d; }

a.text-success:hover,
a.text-success:focus {
  color: #2b542c; }

.text-info {
  color: #31708f; }

a.text-info:hover,
a.text-info:focus {
  color: #245269; }

.text-warning {
  color: #8a6d3b; }

a.text-warning:hover,
a.text-warning:focus {
  color: #66512c; }

.text-danger {
  color: #a94442; }

a.text-danger:hover,
a.text-danger:focus {
  color: #843534; }

.bg-primary {
  color: #fff; }

.bg-primary {
  background-color: #0081EE; }

a.bg-primary:hover,
a.bg-primary:focus {
  background-color: #0065bb; }

.bg-success {
  background-color: #dff0d8; }

a.bg-success:hover,
a.bg-success:focus {
  background-color: #c1e2b3; }

.bg-info {
  background-color: #d9edf7; }

a.bg-info:hover,
a.bg-info:focus {
  background-color: #afd9ee; }

.bg-warning {
  background-color: #fcf8e3; }

a.bg-warning:hover,
a.bg-warning:focus {
  background-color: #f7ecb5; }

.bg-danger {
  background-color: #f2dede; }

a.bg-danger:hover,
a.bg-danger:focus {
  background-color: #e4b9b9; }

.page-header {
  padding-bottom: 10px;
  margin: 44px 0 22px;
  border-bottom: 1px solid #eeeeee; }

ul,
ol {
  margin-top: 0;
  margin-bottom: 11px; }
  ul ul,
  ul ol,
  ol ul,
  ol ol {
    margin-bottom: 0; }

.list-unstyled {
  padding-left: 0;
  list-style: none; }

.list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px; }
  .list-inline > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px; }

dl {
  margin-top: 0;
  margin-bottom: 22px; }

dt,
dd {
  line-height: 1.42857; }

dt {
  font-weight: bold; }

dd {
  margin-left: 0; }

.dl-horizontal dd:before, .dl-horizontal dd:after {
  content: " ";
  display: table; }

.dl-horizontal dd:after {
  clear: both; }

@media (min-width: 1224px) {
  .dl-horizontal dt {
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .dl-horizontal dd {
    margin-left: 180px; } }

abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #777777; }

.initialism {
  font-size: 90%; }

blockquote {
  padding: 11px 22px;
  margin: 0 0 22px;
  font-size: 20px;
  border-left: 5px solid #eeeeee; }
  blockquote p:last-child,
  blockquote ul:last-child,
  blockquote ol:last-child {
    margin-bottom: 0; }
  blockquote footer,
  blockquote small,
  blockquote .small {
    display: block;
    font-size: 80%;
    line-height: 1.42857;
    color: #777777; }
    blockquote footer:before,
    blockquote small:before,
    blockquote .small:before {
      content: '\2014 \00A0'; }

.blockquote-reverse,
blockquote.pull-right {
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #eeeeee;
  border-left: 0;
  text-align: right; }
  .blockquote-reverse footer:before,
  .blockquote-reverse small:before,
  .blockquote-reverse .small:before,
  blockquote.pull-right footer:before,
  blockquote.pull-right small:before,
  blockquote.pull-right .small:before {
    content: ''; }
  .blockquote-reverse footer:after,
  .blockquote-reverse small:after,
  .blockquote-reverse .small:after,
  blockquote.pull-right footer:after,
  blockquote.pull-right small:after,
  blockquote.pull-right .small:after {
    content: '\00A0 \2014'; }

address {
  margin-bottom: 22px;
  font-style: normal;
  line-height: 1.42857; }

/**
 * Responsive mixins
 * Usage:
 * p {
 *   font-size: 16px;
 *
 *   @include tablet {
 *     font-size: 18px;
 *   }
 *
 *   @include desktop {
 *     font-size: 20px;
 *   }
 * }
 */
/**
 * Retina mixin
 */
html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }

body {
  font-size: 16px; }

div:focus {
  outline: none; }

button {
  font-family: "Roboto", "Segoe UI", "Helvetica Neue", Arial, sans-serif; }

h1, .h1 {
  font-family: "Merriweather", Georgia, "Times New Roman", Times, serif;
  font-size: 2.5em;
  font-weight: bold;
  color: #002F63;
  line-height: 1.5; }
  @media (max-width: 767px) {
    h1, .h1 {
      font-size: 1.5em;
      line-height: 1.3; } }

.h1-sm {
  font-size: 2.25em; }
  @media (max-width: 767px) {
    .h1-sm {
      font-size: 1.5em;
      line-height: 1.3; } }

.h1-xs {
  font-size: 2em; }
  @media (max-width: 767px) {
    .h1-xs {
      font-size: 1.25em;
      line-height: 1.3; } }

.h1-bottom-margin {
  margin-bottom: 96px; }

h2, .h2 {
  font-family: "Merriweather", Georgia, "Times New Roman", Times, serif;
  font-size: 1.5em;
  font-weight: bold;
  color: #002F63;
  line-height: 1.5; }

h3, .h3 {
  font-family: "Merriweather", Georgia, "Times New Roman", Times, serif;
  font-size: 1.25em;
  font-weight: bold;
  color: #002F63;
  line-height: 1.5; }

.heading-bottom-spacing {
  margin-bottom: 1em; }

p, .p {
  line-height: 1.44;
  font-size: 1em;
  font-weight: normal;
  color: #303030;
  margin: 0 0 2em; }
  p .lead, .p .lead {
    font-size: 1.25em; }

small {
  font-size: 0.875em;
  color: #303030; }

.text-regular {
  font-weight: 500; }

.text-normal {
  font-weight: normal; }

.text-medium {
  font-weight: 500; }

.text-bold {
  font-weight: bold; }

.text-lg {
  font-size: 20px; }

.text-highlight {
  background-image: linear-gradient(#FCE228, #FCE228);
  background-position: 0 0.7em;
  background-repeat: repeat-x;
  background-size: 0.4em 0.4em;
  padding: 0 0.1em; }

.text-muted {
  color: rgba(48, 48, 48, 0.64); }

.text-navy {
  color: #002F63; }

.list-style-arrow {
  list-style: none;
  padding-left: 30px; }
  .list-style-arrow li {
    padding-left: 2em;
    background-image: url("../img/icon-arrow-right.svg");
    background-repeat: no-repeat;
    background-position: 0 center; }

.list-style-checkmark,
.list-style-plussign {
  list-style: none; }
  .list-style-checkmark li,
  .list-style-plussign li {
    padding-left: 2em;
    background-repeat: no-repeat;
    background-position: 0 center; }
    @media (max-width: 767px) {
      .list-style-checkmark li,
      .list-style-plussign li {
        padding-left: 1.5em;
        background-position: 0 .5em; } }

.list-style-checkmark li {
  background-image: url("../img/icon-checkmark.svg"); }

.list-style-plussign li {
  background-image: url("../img/icon-plussign.svg"); }

a:hover,
a:focus {
  color: #0081EE;
  text-decoration: none; }

.brand-logo {
  max-width: 150px; }

.control-code {
  font-size: 5em;
  font-weight: bold; }

hr {
  border-color: #d8d8d8;
  background-color: white;
  margin: 0;
  padding: 0; }

.custom-select {
  width: 100%; }

.form-control::-webkit-input-placeholder {
  color: rgba(48, 48, 48, 0.32); }

.form-control:-ms-input-placeholder {
  color: rgba(48, 48, 48, 0.32); }

.form-control::placeholder {
  color: rgba(48, 48, 48, 0.32); }

.alert {
  border: solid 2px #d8d8d8;
  border-radius: 8px; }
  .alert-success {
    background-color: rgba(11, 250, 67, 0.08);
    border-color: #51c26c; }

.btn-xl {
  padding: 16px 60px;
  font-size: 24px;
  line-height: 1.2;
  border-radius: 8px; }
  @media (max-width: 767px) {
    .btn-xl {
      padding: 16px;
      width: 100%; } }

.no-margin {
  margin: 0 !important; }

.no-padding {
  padding: 0 !important; }

/*# sourceMappingURL=editor.css.map */
